<section class="section-b-space shop-section" id="filtered_products">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-custome-3">
                <div class="left-box" [class.show]="attributeService.offCanvasMenu">
                    <app-collection-categories
                        [style]="'classic_vertical'">
                    </app-collection-categories>
                </div>
            </div>
            <div class="col-custome-9">
                <app-collection-products [filter]="filter"></app-collection-products>
            </div>
        </div>
    </div>
</section>
