<div class="footer-logo-contain">
    <p *ngIf="data?.footer?.footer_about">{{ data?.footer?.footer_about }}</p>
    <ul class="address">
        <li *ngIf="data?.footer?.about_address">
            <i class="ri-home-line"></i>
            <a href="https://www.google.com/maps" target="_blank">{{ data?.footer?.about_address }}</a>
        </li>
        <li *ngIf="data?.footer?.about_email">
            <i class="ri-mail-line"></i>
            <a href="mailto:{{ data?.footer?.about_email }}">{{ data?.footer?.about_email }}</a>
        </li>
    </ul>
</div>
