<form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
    <app-form-fields [label]="'store_logo' | translate" [for]="'logo'" [required]="false">
        <app-image-upload 
            [multipleImage]="false"
            [image]="(store$ | async)?.store_logo"
            [helpText]="'*Upload image size 500x500px recommended'"
            (selectedFiles)="selectStoreLogo($event)">
        </app-image-upload>
    </app-form-fields>
    <app-form-fields [label]="'store_name' | translate" [for]="'store_name'" [required]="true">
        <input class="form-control" type="text" placeholder="{{ 'enter_store_name' | translate }}" formControlName="store_name">
        <div class="invalid-feedback" *ngIf="form?.controls['store_name'].touched && form.controls['store_name'].errors?.['required']">
            {{ 'store_name_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'store_description' | translate" [for]="'description'" [required]="true">
        <textarea class="form-control" placeholder="{{ 'enter_description' | translate }}" formControlName="description" rows="3"></textarea>
        <div class="invalid-feedback" *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']">
            {{ 'description_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'country' | translate" [for]="'country'" [required]="true">
        <select2 class="custom-select"
            [data]="(countries$ | async)?.length ? (countries$ | async) : []" 
            [placeholder]="'select_country' | translate" 
            formControlName="country_id"
            (update)="countryChange($event)"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable>
        </select2>
        <div class="invalid-feedback" *ngIf="form?.controls['country_id']?.touched && form?.controls['country_id']?.errors?.['required']">
            {{ 'country_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'state' | translate" [for]="'state'" [required]="true">
        <select2 class="custom-select" 
            [data]="(states$ | async)?.length ? (states$ | async) : [] " 
            [placeholder]="'select_state' | translate" 
            formControlName="state_id"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable>
        </select2>
        <div class="invalid-feedback" *ngIf="form?.controls['state_id'].touched && form?.controls['state_id'].errors?.['required']">
            {{ 'state_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'city' | translate" [for]="'city'" [required]="true">
        <input class="form-control" type="text" placeholder="{{'enter_city_name' | translate }}" name="city" formControlName="city">
        <div class="invalid-feedback" *ngIf="form.controls['city'].touched && form.controls['city'].errors?.['required']">
            {{ 'city_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'address' | translate" [for]="'address'" [required]="true">
        <input class="form-control" type="text" placeholder="{{ 'enter_store_address' | translate }}" name="address" formControlName="address">
        <div class="invalid-feedback" *ngIf="form.controls['address'].touched && form.controls['address'].errors?.['required']">
            {{ 'address_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'pincode' | translate" [for]="'pincode'" [required]="true">
        <input class="form-control" type="number" placeholder="{{ 'enter_pincode' | translate }}" name="pincode" formControlName="pincode">
        <div class="invalid-feedback" *ngIf="form.controls['pincode'].touched && form.controls['pincode'].errors?.['required']">
            {{ 'pincode_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'name' | translate" [for]="'name'" [required]="true">
        <input class="form-control" type="text" placeholder="{{ 'enter_name' | translate }}" name="name" formControlName="name">
        <div class="invalid-feedback" *ngIf="form?.controls['name']?.touched && form.controls['name']?.errors?.['required']">
            {{ 'name_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'email_address' | translate" [for]="'email'" [required]="true">
        <input class="form-control" type="text" placeholder="{{ 'enter_email_address' | translate }}" name="email" formControlName="email">
        <div class="invalid-feedback" *ngIf="form?.controls['email']?.touched && form.controls['email']?.errors?.['required']">
            {{ 'email_is_required' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="form?.controls['email']?.touched && form.controls['email']?.errors?.['email']" >
            {{ 'invalid_email' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'phone' | translate" [for]="'phone'" [required]="true">
        <select2 class="custom-select intl-tel-input" 
            [templates]="template" 
            [data]="codes" 
            formControlName="country_code"
            noResultMessage="{{ 'no_data_found' | translate }}">
            <ng-template #template let-data="data">
                <div class="country">
                    <div class="flag-box">
                        <div class="iti-flag {{data?.class}}"></div>
                    </div>
                    <span class="dial-code">{{data.code}}</span>
                </div>
            </ng-template>
        </select2>
        <input type="number" class="form-control intl-input-padding" formControlName="phone" placeholder="{{ 'enter_phone' | translate }}" name="phone">
        <div class="invalid-feedback" *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.['required']" autocomplete="false">
            {{ 'phone_number_is_required' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.['pattern']">
            {{ 'phone _number _is _invalid' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'password' | translate" [for]="'password'" [required]="true" *ngIf="type !== 'edit'">
        <input class="form-control" type="password" placeholder="{{ 'enter_password' | translate }}" name="password" formControlName="password">
        <div class="invalid-feedback" *ngIf="form?.controls['password']?.touched && form?.controls['password']?.errors?.['required']">
            {{ 'password_is_required' | translate }}
        </div>
    </app-form-fields>
    <app-form-fields [label]="'confirm_password' | translate" [for]="'password_confirmation'" [required]="true" *ngIf="type !== 'edit'">
        <input class="form-control" type="password" placeholder="{{ 'enter_confirm_password' | translate}}" name="password_confirmation" formControlName="password_confirmation">
        <div class="invalid-feedback" *ngIf="form?.controls['password_confirmation']?.touched && form?.controls['password_confirmation']?.errors?.['required'] else error">
            {{ 'confirm_password_is_required' | translate }}
        </div>
        <ng-template #error>
            <div class="invalid-feedback" *ngIf="passwordMatchError">
                {{ 'confirm_password_does_not_matched' | translate }}
            </div>
        </ng-template>
    </app-form-fields>
    <app-form-fields [label]="'FaceBook'" [for]="'facebook'">
        <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}"
           formControlName="facebook">
     </app-form-fields>
     <app-form-fields [label]="'Instagram'" [for]="'instagram'">
        <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}"
           formControlName="instagram">
     </app-form-fields>
     <app-form-fields [label]="'Twitter'" [for]="'Twitter'">
        <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}"
           formControlName="twitter">
     </app-form-fields>
     <app-form-fields [label]="'youtube'" [for]="'youtube'">
        <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}"
           formControlName="youtube">
     </app-form-fields>
     <app-form-fields [label]="'Pinterest'" [for]="'pinterest'">
        <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}"
           formControlName="pinterest">
     </app-form-fields>
    <app-form-fields [label]="'hide_email' | translate" [for]="'hide_vendor_email'" [required]="false">
        <div class="form-check form-switch ps-0">
            <label class="switch">
                <input type="checkbox" id="hide_vendor_email" formControlName="hide_vendor_email">
                <span class="switch-state"></span>
            </label>
        </div>
    </app-form-fields>
    <app-form-fields [label]="'hide_phone' | translate" [for]="'hide_vendor_phone'" [required]="false">
        <div class="form-check form-switch ps-0">
            <label class="switch">
                <input type="checkbox" id="hide_vendor_phone" formControlName="hide_vendor_phone">
                <span class="switch-state"></span>
            </label>
        </div>
    </app-form-fields>
    <app-form-fields [label]="'status' | translate" [for]="'status'" [required]="false">
        <div class="form-check form-switch ps-0">
            <label class="switch">
                <input type="checkbox" id="status" formControlName="status">
                <span class="switch-state"></span>
            </label>
        </div>
    </app-form-fields>
    <app-button [id]="'store_btn'">
        {{ (type == 'create' ? 'save_store' : 'update_store') | translate }}
    </app-button>
</form>