<!-- <div class="leftbox-overlay" (click)="closeCanvasMenu()"></div> -->
<div class="shop-left-sidebar">
  <div class="back-button" (click)="closeCanvasMenu()">
      <h3>
        <a href="javascript:vois(0)" class="text-title">
          <i class="ri-close-fill"></i>
          <span>{{ 'back' | translate }}</span>
        </a>
      </h3>
  </div>
  <ng-content></ng-content>
  <div class="filter-category">
      <app-collection-filter [filter]="filter"></app-collection-filter>
  </div>
  <app-skeleton-collection-sidebar *ngIf="attributeService.skeletonLoader else content"></app-skeleton-collection-sidebar>
  <ng-template #content>
    <div class="accordion custome-accordion" ngbAccordion>
      <div class="accordion-item" ngbAccordionItem [collapsed]="false">
        <h2 class="accordion-header" ngbAccordionHeader>
          <button class="accordion-button" type="button" ngbAccordionButton>
            <span>{{ 'categories' | translate }}</span>
          </button>
        </h2>
        <div class="accordion-collapse collapse" ngbAccordionCollapse>
          <div class="accordion-body" ngbAccordionBody>
              <app-collection-category-filter [filter]="filter"></app-collection-category-filter>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!filter['store_slug']">
        <ng-container *ngFor="let attribute of (attribute$ | async)?.data">
          <div class="accordion-item" ngbAccordionItem [collapsed]="false"
            *ngIf="attribute.style !== 'image'">
            <h2 class="accordion-header" ngbAccordionHeader>
              <button class="accordion-button" ngbAccordionButton>
                <span>{{ attribute.name }}</span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div class="accordion-body" ngbAccordionBody>
                <app-collection-attributes-filter [filter]="filter"
                  [attribute]="attribute"></app-collection-attributes-filter>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="accordion-item" ngbAccordionItem [collapsed]="false">
        <h2 class="accordion-header" ngbAccordionHeader>
          <button class="accordion-button" ngbAccordionButton>
            <span>{{ 'price' | translate }}</span>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div class="accordion-body" ngbAccordionBody>
            <app-collection-price-filter [filter]="filter"></app-collection-price-filter>
          </div>
        </div>
      </div>
      <div class="accordion-item" ngbAccordionItem [collapsed]="false">
        <h2 class="accordion-header" ngbAccordionHeader>
          <button class="accordion-button" ngbAccordionButton>
            <span>{{ 'rating' | translate }}</span>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="accordion-body" ngbAccordionBody>
              <app-collection-rating-filter [filter]="filter"></app-collection-rating-filter>
          </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
