<div *ngIf="order">
    <div class="title-header">
        <div class="d-flex  align-items-center w-100 justify-content-between">
            <h5>{{ 'order_number' | translate }}: #{{ order.order_number }}</h5>
            <div class="right-option">
                <a href="javascript:void(0)" class="btn btn-md fw-bold text-light theme-bg-color"
                  *ngIf="order?.payment_status === 'FAILED'"
                  (click)="payModal.openModal(order)">{{ 'pay_now' | translate }}<i class="ri-refresh-line ms-2"></i></a>
                <a
                  href="{{order.invoice_url}}"
                  class="btn btn-md fw-bold text-light theme-bg-color ms-auto"
                  download="download"
                  *ngIf="order.invoice_url && order.payment_status === 'COMPLETED'">
                    {{ 'invoice' | translate }} <i class="ri-download-2-fill ms-2"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="tracking-panel">
            <ul *ngIf="order && !order.sub_orders.length">
                <ng-container *ngFor="let orderStatus of (orderStatus$ | async)?.data">
                    <li [class.active]="orderStatus?.sequence! <= order.order_status.sequence!"
                        [ngClass]="{'d-none': (orderStatus?.sequence! >= order.order_status.sequence! && order.order_status.slug == 'cancelled') ||
                                            orderStatus?.slug == 'cancelled'}">
                        <div class="panel-content">
                            <div class="icon">
                                <img src="assets/svg/tracking/{{orderStatus?.slug}}.svg" class="img-fluid"
                                    alt="image">
                            </div>
                            <div class="status">{{ orderStatus?.name?.replace('_', ' ') | titlecase }}</div>
                        </div>
                    </li>
                </ng-container>
                <li class="active cancelled-box" *ngIf="order.order_status?.slug == 'cancelled'">
                    <div class="panel-content">
                        <div class="icon">
                            <img src="assets/svg/tracking/{{order.order_status.slug}}.svg" class="img-fluid"
                                alt="image">
                        </div>
                        <div class="status">{{ order.order_status.name.replace('_', ' ')! | titlecase }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" *ngIf="order.products.length">
        <div class="card-body">
            <div class="tracking-wrapper table-responsive">
                <table class="table product-table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'image' | translate }}</th>
                            <th scope="col">{{ 'name' | translate }}</th>
                            <th scope="col">{{ 'price' | translate }}</th>
                            <th scope="col">{{ 'quantity' | translate }}</th>
                            <th scope="col">{{ 'subtotal' | translate }}</th>
                            <th scope="col">{{ 'action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of order.products">
                            <td class="product-image">
                                <img [src]="product?.pivot?.variation && product?.pivot?.variation?.variation_image
                                        ? product?.pivot?.variation?.variation_image?.original_url
                                        : product?.product_thumbnail
                                        ? product?.product_thumbnail?.original_url
                                        : 'assets/images/product.png'" class="img-fluid" alt="product">
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.variation ? product?.pivot?.variation?.name : product?.name }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.single_price | currencySymbol }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.quantity }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.subtotal | currencySymbol }}</h6>
                            </td>
                            <td>
                              <a  href="javascript:void(0)"
                                *ngIf="product?.is_return === 1 && product?.pivot?.is_refunded === 0 &&
                                order.payment_status === 'COMPLETED' && order.order_status.slug == 'delivered';
                                else noRefund" (click)="refundModal.openModal(product)">
                                  {{ 'ask_for_refund' | translate }}
                                </a>
                              <ng-template #noRefund>-</ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-8 col-lg-12 col-md-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="fw-semibold mb-3">{{ 'consumer_details' | translate }}</h3>
                    <div class="customer-detail tracking-wrapper">
                        <ul class="row g-3">
                            <li class="col-sm-6" *ngIf="order.billing_address">
                                <label>{{ 'billing_address' | translate }}:</label>
                                <h4>
                                    {{ order.billing_address.street }}
                                    {{ order.billing_address.city }} {{ order.billing_address.state.name }} {{ order.billing_address.country.name }}
                                    {{ order.billing_address.pincode }} <br>
                                    {{ 'phone' }} : +{{ order.shipping_address.country_code }} {{ order.billing_address.phone }}
                                </h4>
                            </li>
                            <li class="col-sm-6" *ngIf="order.shipping_address">
                                <label>{{ 'shipping_address' | translate }}:</label>
                                <h4>
                                    {{ order.shipping_address.street }}
                                    {{ order.shipping_address.city }} {{ order.shipping_address.state.name }} {{ order.shipping_address.country.name }}
                                    {{ order.shipping_address.pincode }} <br>
                                    {{ 'phone' }} : +{{ order.shipping_address.country_code }} {{ order.shipping_address.phone }}
                                </h4>
                            </li>
                            <li class="col-sm-6" *ngIf="order.delivery_description">
                                <label>{{ 'delivery_slot' | translate }}:</label>
                                <h4>{{ order.delivery_description }}</h4>
                            </li>
                            <li class="col-sm-3" *ngIf="order.payment_method">
                                <label>{{ 'payment_mode' | translate }}:</label>
                                <div class="d-flex align-items-center gap-2">
                                    <h4>{{ order.payment_method | uppercase }}</h4>
                                </div>
                            </li>
                            <li class="col-sm-3" *ngIf="order.payment_method">
                                <label>{{ 'payment_status' | translate }}:</label>
                                <div class="d-flex align-items-center gap-2">
                                    <h4>{{ order.payment_status | uppercase }}</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-lg-12 col-md-5">
            <div class="card h-m30">
                <div class="card-body">
                    <h3 class="fw-semibold mb-3">
                        {{ 'summary' | translate }}
                    </h3>
                    <div class="tracking-total tracking-wrapper">
                        <ul>
                            <li>{{ 'subtotal' | translate }} <span>{{ (order.amount ? order.amount : 0) | currencySymbol }}</span></li>
                            <li>{{ 'shipping'| translate }} <span>{{ (order.shipping_total ? order.shipping_total : 0) | currencySymbol }}</span></li>
                            <li>{{ 'tax'| translate }} <span>{{ (order.tax_total ? order.tax_total : 0) | currencySymbol }}</span></li>
                            <li class="txt-primary fw-bold" *ngIf="order.points_amount != 0">{{ 'points'| translate }} <span>{{ order.points_amount | currencySymbol }}</span></li>
                            <li class="txt-primary fw-bold" *ngIf="order.wallet_balance != 0">{{ 'wallet_balance'| translate }} <span>{{ order.wallet_balance | currencySymbol }}</span></li>
                            <li class="txt-primary fw-bold" *ngIf="order.coupon_total_discount != 0">{{ 'coupon_discount'| translate }} <span>{{ order.coupon_total_discount | currencySymbol }}</span></li>
                            <li>{{ 'total'| translate }} <span>{{ (order.total ? order.total : 0) | currencySymbol }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="order.sub_orders.length">
        <div class="card-body">
            <div class="tracking-wrapper table-responsive">
                <table class="table product-table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'order_number' | translate }}</th>
                            <th scope="col">{{ 'order_date' | translate }}</th>
                            <th scope="col">{{ 'total_amount' | translate }}</th>
                            <th scope="col">{{ 'status' | translate }}</th>
                            <th scope="col">{{ 'action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subOrder of order.sub_orders">
                            <td>
                                <h6>{{ '#'+subOrder.order_number }}</h6>
                            </td>
                            <td>
                                <h6>{{ subOrder.created_at | date: 'dd MMM yyyy hh:mm:a' }}</h6>
                            </td>
                            <td>
                                <h6>{{ subOrder.amount | currencySymbol }}</h6>
                            </td>
                            <td>
                                <h6>
                                    <div class="status-{{subOrder.order_status.slug}}">
                                        <span>{{ subOrder.order_status.name }}</span>
                                    </div>
                                </h6>
                            </td>
                            <td>
                              <a href="javascript:void(0)" [routerLink]="['/account/order/details', subOrder.order_number]">
                                <i [class]="'ri-eye-line'"></i>
                              </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-refund-modal #refundModal></app-refund-modal>
<app-pay-modal #payModal></app-pay-modal>
