<div class="checkout-detail">
    <div class="row g-4">
        <div class="col-xxl-12">
            <div class="payment-option">
                <div class="payment-category w-100">
                    <div class="form-check custom-form-check hide-check-box w-100">
                        <input class="form-check-input" type="radio" name="cod" id="cod" (change)="set('cod')">
                        <label class="form-check-label" for="cod">
                            {{ 'cash_on_delivery' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>