<div class="bg-effect">
  <!-- Home section start -->
  <section class="home-section-2 home-section-small section-b-space"
      [ngStyle]="{'background-image': 'url(' + data?.content?.home_banner?.bg_image_url+ ')'}"
      *ngIf="data?.content?.home_banner">
      <app-theme-home-banner [theme]="'rome'" [data]="data?.content?.home_banner"></app-theme-home-banner>
  </section>
  <!-- Home Section End -->

  <!-- Category Section Start -->
  <section class="category-section-2" *ngIf="data?.content?.categories_image_list?.status">
    <div class="container-fluid-lg">
      <app-title
        [title]="data?.content?.categories_image_list?.title"
        [style]="'simple'">
      </app-title>
      <div class="row">
        <div class="col-12">
          <app-theme-categories
            [style]="'horizontal'"
            [theme]="'rome'"
            [categoryIds]="data?.content?.categories_image_list?.category_ids || []"
            [sliderOption]="categorySlider">
          </app-theme-categories>
        </div>
      </div>
    </div>
  </section>
  <!-- Category Section End -->

  <!-- Value Section Start -->
  <section class="overflow-hidden" *ngIf="data?.content?.value_banners?.status">
    <app-title
      [title]="data?.content?.value_banners?.title"
      [class]="'container-fluid-lg'"
      [style]="'simple'">
    </app-title>
    <div class="row">
      <div class="col-12">
        <app-theme-banner [style]="'horizontal'" [banners]="data?.content?.value_banners?.banners"></app-theme-banner>
      </div>
    </div>
  </section>
  <!-- Value Section End -->

  <!-- Product Section Start -->
  <section class="product-section" *ngIf="data?.content?.categories_products?.status
    && data?.content?.categories_products?.category_ids?.length">
    <app-title
      [title]="data?.content?.categories_products?.title"
      [class]="'container-fluid-lg'"
      [style]="'simple'">
      <app-theme-categories
        [categoryIds]="data?.content?.categories_products?.category_ids || []"
        [sliderOption]="categorySlider"
        [style]="'filter'"
        [selectedCategoryId]="selectedCategoryId"
        (selectedCategory)="selectCategory($event)">
      </app-theme-categories>
    </app-title>
    <div class="container-fluid-lg">
      <app-theme-product
        [style]="'horizontal'"
        [productIds]="productFilterIds || []"
        [slider]="false"
        [productStyle]="'product-standard'"
        [sliderOption]="productSlider6ItemMargin"
        [showItem]="5"
        [boxClass]="'product-box-bg'">
      </app-theme-product>
    </div>
  </section>
  <!-- Product Section End -->

  <!-- Banner Section Start -->
  <section class="banner-section" *ngIf="data?.content?.two_column_banners?.status">
    <div class="container-fluid-lg">
      <div class="row gy-xl-0 gy-3">
        <div class="col-lg-6">
          <app-image-link
            [image]="data?.content?.two_column_banners?.banner_1"
            [class]="'banner-contain-3 hover-effect'"
            [bgImage]="false">
          </app-image-link>
        </div>
        <div class="col-lg-6">
          <app-image-link
            [image]="data?.content?.two_column_banners?.banner_2"
            [class]="'banner-contain-3 hover-effect'"
            [bgImage]="false">
          </app-image-link>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section End -->

  <section class="top-selling-section border-box section-b-space" *ngIf="data?.content?.slider_products?.status">
    <div class="container-fluid-lg">
      <app-four-column-product [data]="data?.content?.slider_products"></app-four-column-product>
    </div>
  </section>

  <!-- Banner Section Start -->
  <div class="container-fluid-lg" *ngIf="data?.content?.full_width_banner?.status">
    <div class="ratio_12" *ngIf="data?.content?.full_width_banner?.status">
      <app-theme-banner [banners]="data?.content?.full_width_banner" [style]="'full_width'"></app-theme-banner>
    </div>
  </div>
  <!-- Banner Section End -->

  <!-- Product Section Start -->
  <section class="product-section"
    *ngIf="data?.content?.products_list_1?.status && data?.content?.products_list_1?.product_ids?.length || 0 >= 6">
    <div class="container-fluid-lg">
      <app-title
        [title]="data?.content?.products_list_1?.title"
        [style]="'simple'">
      </app-title>
      <app-theme-product
        [productIds]="data?.content?.products_list_1?.product_ids || []"
        [style]="'horizontal'"
        [slider]="true"
        [productStyle]="'product-standard'"
        [boxClass]="'product-box-bg'"
        [sliderOption]="productSlider6ItemMargin">
      </app-theme-product>
    </div>
  </section>
  <!-- Product Section End -->

  <!-- Blog Section Start -->
  <section
    *ngIf="data?.content?.featured_blogs?.status
    && data?.content?.featured_blogs?.blog_ids?.length || 0 >= 3">
    <div class="container-fluid-lg">
      <app-title
        [title]="data?.content?.featured_blogs?.title"
        [style]="'simple'">
      </app-title>
      <app-blog
        [sliderOption]="customOptionsItem4"
        [blogIds]="data?.content?.featured_blogs?.blog_ids || []">
      </app-blog>
    </div>
  </section>
  <!-- Blog Section End -->

  <!-- Newsletter Section Start -->
  <section class="newsletter-section-2 section-b-space" *ngIf="data?.content?.news_letter?.status">
    <app-newsletter [data]="data?.content?.news_letter!" [style]="'classic'"></app-newsletter>
  </section>
  <!-- Newsletter Section End -->
</div>