<div [class]="class">
  <div class="logo-wrapper logo-wrapper-center">
    <a [routerLink]="['/dashboard']" *ngIf="(setting$ | async)?.general?.light_logo_image; else siteTitle">
      <img class="img-fluid for-white" [src]="(setting$ | async )?.general?.light_logo_image?.original_url" alt="logo" />
    </a>
    <ng-template #siteTitle>
      <a [routerLink]="['/dashboard']">
        <h2 class="text-white">
          {{(setting$ | async)?.general?.site_title ? (setting$ | async)?.general?.site_title.split(' ')[0] : 'Logo Here'}}
        </h2>
      </a>
    </ng-template>
    <img class="img-fluid logo-sm" 
      [src]="(setting$ | async )?.general?.tiny_logo_image?.original_url" alt="logo"
      *ngIf="(setting$ | async )?.general?.tiny_logo_image else smallLogo">
    <ng-template #smallLogo>
      <h2 class="text-white logo-sm">
        {{(setting$ | async)?.general?.site_title ? (setting$ | async)?.general?.site_title.substr(0, 2)?.toString()?.toUpperCase() : 'Logo'}}
      </h2>
    </ng-template>
    <div class="back-btn">
      <i class="fa fa-angle-left"></i>
    </div>
    <!-- <div class="toggle-sidebar" (click)="sidebarToggle()">
      <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
    </div> -->
  </div>
  <nav class="sidebar-main">
    <div class="left-arrow" id="left-arrow">
      <i data-feather="arrow-left"></i>
    </div>
    <div id="sidebar-menu">
      <ul class="sidebar-links" id="simple-bar">
        <li class="back-btn"></li>
        <div *ngTemplateOutlet="recursiveMenu; context: { $implicit: (menu$ | async)?.data }"></div>
        <ng-template #recursiveMenu let-menus>
          <ng-container *ngFor="let menu of menus">
            <ng-container *ngIf="hasMainLevelMenuPermission(menu?.acl_permission)">
              <li [class.sidebar-list]="menu.type == 'sub'" *hasPermission="menu?.permission">
                <a href="javascript:void(0)"
                  [class]="menu.level === 1 ? 'debar-link sidebar-title link-nav sidebar-link' : ''"
                  [class.active]="!menu.children ? menu.active : ''"
                  [routerLink]="menu.path" [queryParams]="menu.params" routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }" (click)="onItemSelected(menu)"
                  *ngIf="menu.type === 'sub'">
                  <span>
                    <div class="d-flex align-items-center">
                      <i class="{{ menu.icon }}" *ngIf="menu.icon"></i>
                      <div class="sidebar-main-link">{{ menu.title.replace(' ', '_') | translate }}</div>
                    </div>
                    <span [class]="menu?.badgeType" *ngIf="menu?.badgeType && menu?.badgeValue != '0' && menu?.badgeValue">
                      {{ menu?.badgeValue }}
                    </span>
                  </span>
                  <div class="according-menu" *ngIf="menu.children">
                    <i class="ri-arrow-{{ menu.active ? 'down' : 'right' }}-s-line"></i>
                  </div>
                </a>
                <!-- Submenu Link -->
                <a href="javascript:void(0)" *ngIf="menu.type === 'link'" [routerLink]="menu.path"
                  [queryParams]="menu.params" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()">
                  <div>{{ menu.title.replace(' ', '_') | translate }}</div>
                  <span [class]="menu?.badgeType" *ngIf="menu?.badgeType && menu?.badgeValue != '0' && menu?.badgeValue">
                    {{ menu?.badgeValue }}
                  </span>
                </a>
                <ul class="sidebar-submenu" [class.show]="menu.children && menu.active">
                  <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: menu.children }"></ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-container>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>