<app-basic-header [data]="(themeOption$ | async)" [logo]="logo" [sticky]="sticky" *ngIf="style == 'basic_header'"></app-basic-header>
<app-classic-header [data]="(themeOption$ | async)" [logo]="logo" [sticky]="sticky" *ngIf="style == 'classic_header'"></app-classic-header>
<app-standard-header [data]="(themeOption$ | async)" [logo]="logo" [sticky]="sticky" *ngIf="style == 'standard_header'"></app-standard-header>
<app-minimal-header [data]="(themeOption$ | async)" [logo]="logo" [sticky]="sticky" *ngIf="style == 'minimal_header'"></app-minimal-header>
<app-mobile-menu></app-mobile-menu>
