<ng-template #countryShippingModal let-modal>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
            <h5 class="modal-title text-center">{{ 'select_country' | translate }}</h5>
            <div class="mb-4">
                <select2 class="custom-select"
                    [data]="(countries$ | async)?.length ? (countries$ | async) : []" 
                    [placeholder]="'select_country' | translate "
                    formControlName="country_id"
                    noResultMessage="{{ 'no_data_found' | translate }}"
                    resettable>
                </select2>
                <div class="invalid-feedback" *ngIf="form.controls['country_id'].touched && form.controls['country_id'].errors?.['required']">
                    {{ 'country_is_required' | translate }}
                </div>
            </div>
            <div class="button-box">
                <app-button [class]="'btn-md fw-bold btn btn-secondary'" 
                    [spinner]="false"
                    [id]="'shipping_country_no_btn'"
                    [type]="'button'"
                    (click)="modal.dismiss('Cancel')">
                    {{ 'cancel' | translate }}
                </app-button>
                <app-button 
                    [class]="'btn-theme btn-md fw-bold btn'" 
                    [id]="'shipping_country_yes_btn'">
                    {{ 'submit' | translate }}
                </app-button>
            </div>
        </div>
    </form>
</ng-template>