<ul class="image-select-list cursor-pointer">
    <li class="choosefile-input" (click)="MediaModal.openModal()">
        <i class="ri-add-line"></i>
    </li>
    <li *ngFor="let img of showImages; let i = index;">
        <img src="{{ img?.original_url }}" alt="image" class="img-fluid">
        <a href="javascript:void(0)" class="remove-icon" id="remove-icon{{i}}" (click)="remove(i, 'multiple');"><i class="ri-close-line text-white"></i></a>
    </li>
    <li *ngIf="showImage">
        <img src="{{ showImage?.original_url }}" alt="image" class="img-fluid">
        <a href="javascript:void(0)" class="remove-icon" (click)="remove(showImage?.id, 'single')"><i class="ri-close-line text-white"></i></a>
    </li>
    <li *ngIf="showImageUrl">
        <img src="{{ showImageUrl }}" alt="image" class="img-fluid">
        <a href="javascript:void(0)" class="remove-icon" (click)="remove(1, 'single_image_url')"><i class="ri-close-line text-white"></i></a>
    </li>
</ul>
<p class="help-text" *ngIf="helpText">{{ helpText }}</p>
<app-media-modal 
    [multipleImage]="multipleImage" 
    [url]="url"
    (selectImage)="selectImage($event, url)" 
    #mediaModal>
</app-media-modal>
