<div class="empty-box" *ngIf="!addresses?.length">
    <h2>{{ 'no_address_found' | translate }}</h2>
</div>
<div class="row g-3">
    <ng-container *ngFor="let address of addresses; let i = index;">
        <div class="col-xxl-6 col-lg-12 col-md-6">
            <label for="adddress-{{type}}-{{i}}">
                <div class="delivery-address-box">
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{address?.id}}"
                                name="adddress-{{type}}" id="adddress-{{type}}-{{i}}" (change)="set($event)">
                        </div>
                        <ul class="delivery-address-detail">
                            <li>
                                <h4 class="fw-semibold">{{ address?.title }}</h4>
                            </li>
                            <li>
                                <p class="text-content">
                                    <span class="text-title">{{ 'address' | translate }}: </span>
                                    {{ address?.street }}, {{ address?.city }}, {{ address?.state?.name }}, {{
                                    address?.country?.name }}
                                </p>
                            </li>
                            <li *ngIf="address?.pincode">
                                <h6 class="text-content">
                                    <span class="text-title">{{ 'pincode' | translate }}:</span> {{ address?.pincode }}
                                </h6>
                            </li>
                            <li *ngIf="address?.phone">
                                <h6 class="text-content mb-0">
                                    <span class="text-title">{{ 'phone' | translate }} :</span> {{ address?.phone }}
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </label>
        </div>
    </ng-container>
</div>