<section class="log-in-section section-b-space">
  <div class="container w-100">
    <div class="row">
      <div class="col-xl-5 col-lg-6 me-auto">
        <app-alert></app-alert>
        <div class="log-in-box">
          <div class="log-in-title">
            <h3>{{ 'update_password' | translate }}</h3>
            <h4>{{ 'please_choose_your_password' | translate }}</h4>
          </div>
          <div class="input-box">
            <form class="row g-4" [formGroup]="form" (ngSubmit)="submit();">
              <div class="col-12">
                <div class="form-floating theme-form-floating log-in-form">
                  <input [type]="'password'" class="form-control" name="newPassword" formControlName="newPassword" id="email" placeholder="{{ 'new_password' | translate }}" />
                  <label for="email">{{ 'new_password' | translate }}</label>
                  <div class="invalid-feedback" *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['required']">{{ 'new_password_is_required' | translate }}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating theme-form-floating log-in-form">
                  <input [type]="show ? 'text' : 'password'" class="form-control" id="password" formControlName="confirmPassword" placeholder="{{ 'password' | translate }}" />
                  <label for="password">{{'confirm_password' | translate }}</label>
                  <div *ngIf="!form.controls['confirmPassword'].errors?.['required']">
                    <div class="show-hide" (click)="showPassword()">
                      <span class="show" [ngClass]="show ? 'Hide' : 'show'"></span>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.['required']">{{ 'confirm_password_is_required' | translate }}</div>
                </div>
              </div>
              <div class="col-12">
                <app-button [class]="'btn btn-theme w-100 justify-content-center'" [id]="'pass_btn'">
                  {{ 'submit' | translate }}
                </app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
