<!-- Blog Grid Skeleton -->
<div class="blog-skeleton" *ngIf="type == 'grid'">
    <div class="skeleton-div">
        <div class="product-box skeleton-box">
            <div class="skeleton">
                <div class="skeleton__section skeleton__section--card">
                    <div class="skeleton__img"></div>
                    <div>
                        <div class="skeleton__header skeleton__header--long"></div>
                        <div class="skeleton__p"></div>
                    </div>
                </div>
                <div class="content-div">
                    <div class="skeleton__p"></div>
                    <div class="skeleton__p"></div>
                    <div class="skeleton__p"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Sidebar Skeleton -->
<div class="accordion left-accordion-box" *ngIf="type == 'sidebar'">
    <div class="accordion-item skeleton-accordion">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button">
                <span></span>
            </button>
        </h2>
        <div class="accordion-collapse">
            <div class="accordion-body">
                <ul>
                    <li class="placeholder col-6"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-10"></li>
                    <li class="placeholder col-9"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-6"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-11"></li>
                    <li class="placeholder col-9"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-8"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-11"></li>
                    <li class="placeholder col-9"></li>
                    <li class="placeholder col-7"></li>
                    <li class="placeholder col-6"></li>
                    <li class="placeholder col-8"></li>
                    <li class="placeholder col-4"></li>
                    <li class="placeholder col-9"></li>
                    <li class="placeholder col-7"></li>
                </ul>
            </div>
        </div>
    </div>
</div>