<app-page-wrapper [title]="'my_account'">
    <div class="inside-horizontal-tabs mt-0">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li ngbNavItem="profile">
                <a ngbNavLink><i class="ri-account-pin-box-line"></i>{{ 'profile_setting' | translate }}</a>
                <ng-template ngbNavContent>
                    <form class="theme-form theme-form-2 mega-form" [formGroup]="profileForm" (ngSubmit)="profileFormSubmit();">
                        <div class="row">
                            <app-form-fields [label]="'avatar'" [for]="'image'" [required]="false">
                                <app-image-upload 
                                    [multipleImage]="false" 
                                    [image]="(user$ | async)?.profile_image"
                                    (selectedFiles)="selectedFiles($event)"
                                    [helpText]="'*Upload image size 100x100px recommended'">
                                </app-image-upload>
                            </app-form-fields>
                            <app-form-fields [label]="'name' | translate" [for]="'name'" [required]="true">
                                <input class="form-control" type="text" placeholder="{{ 'enter_full_name' | translate }}" name="name" formControlName="name">
                                <div class="invalid-feedback" *ngIf="profileForm.controls['name'].touched && profileForm.controls['name'].errors?.['required']">
                                    {{ 'name_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'email'" [for]="'email'" [required]="true">
                                <input class="form-control" type="email" placeholder="{{ 'enter_email' | translate }}" name="email" formControlName="email">
                                <div class="invalid-feedback" *ngIf="profileForm.controls['email'].touched && profileForm.controls['email'].errors?.['required']">
                                    {{ 'email_is_required' | translate }}
                                </div>
                                <div class="invalid-feedback" *ngIf="profileForm.controls['email'].touched && profileForm.controls['email'].errors?.['email']">
                                    {{ 'enter_valid_email' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'phone'" [for]="'phone'" [required]="true">
                                <select2 class="custom-select intl-tel-input" [templates]="template" [data]="codes"
                                    [value]="(user$ | async)?.country_code" (update)="selectCode($event)">
                                    <ng-template #template let-data="data">
                                        <div class="country">
                                            <div class="flag-box">
                                                <div class="iti-flag {{data?.class}}"></div>
                                            </div>
                                            <span class="dial-code">{{data.code}}</span>
                                        </div>
                                    </ng-template>
                                </select2>
                                <input type="number" class="form-control intl-input-padding" formControlName="phone" placeholder="Enter Phone" name="phone">
                                <div class="invalid-feedback" *ngIf="profileForm.controls['phone'].touched && profileForm.controls['phone'].errors?.['required']">
                                    {{ 'phone_number_is_required' | translate }}
                                </div>
                                <div class="invalid-feedback" *ngIf="profileForm.controls['phone'].touched && profileForm.controls['phone'].errors?.['pattern']">
                                    {{'phone_number_is_invalid' | translate }}
                                </div>
                            </app-form-fields>
                        </div>
                        <app-button [id]="'profile_btn'">{{ 'save' | translate }}</app-button>
                    </form>
                </ng-template>
            </li>
            <li ngbNavItem="vendor-setting" *ngIf="(roleName$ | async) === 'vendor' && !flicker">
                <a ngbNavLink><i class="ri-account-pin-box-line"></i>{{ 'store_setting' | translate }}</a>
                <ng-template ngbNavContent>
                    <form class="theme-form theme-form-2 mega-form" [formGroup]="form"
                        (ngSubmit)="updateStore();">
                        <div class="row">
                            <app-form-fields [label]="'store_logo' | translate" [for]="'logo'" [required]="false">
                                <app-image-upload 
                                    [multipleImage]="false"
                                    [image]="(user$ | async)?.store?.store_logo"
                                    (selectedFiles)="selectStoreLogo($event)">
                                </app-image-upload>
                            </app-form-fields>
                            <app-form-fields [label]="'store_name'" [for]="'store_name'" [required]="true">
                                <input class="form-control" type="text" placeholder="{{ 'enter_store_name' | translate }}" formControlName="store_name">
                                <div class="invalid-feedback" *ngIf="form?.controls['store_name'].touched && form.controls['store_name'].errors?.['required']">
                                    {{ 'store_name_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'store_description'" [for]="'description'" [required]="true">
                                <textarea class="form-control" placeholder="{{ 'enter_description' | translate }}" formControlName="description" rows="3"></textarea>
                                <div class="invalid-feedback" *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']">
                                    {{ 'description_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'country'" [for]="'country'" [required]="true">
                                <select2 class="custom-select"
                                    [data]="(countries$ | async)?.length ? (countries$ | async) : []" 
                                    [placeholder]="'select_country' | translate" 
                                    formControlName="country_id"
                                    (update)="countryChange($event)"
                                    resettable>
                                </select2>
                                <div class="invalid-feedback" *ngIf="form?.controls['country_id']?.touched && form?.controls['country_id']?.errors?.['required']">
                                    {{ 'country_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'state'" [for]="'state'" [required]="true">
                                <select2 class="custom-select" 
                                    [data]="(states$ | async)?.length ? (states$ | async) : [] " 
                                    [placeholder]="'select_state' | translate" 
                                    formControlName="state_id"
                                    resettable>
                                </select2>
                                <div class="invalid-feedback" *ngIf="form?.controls['state_id'].touched && form?.controls['state_id'].errors?.['required']">
                                    {{ 'state_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'city'" [for]="'city'" [required]="true">
                                <input class="form-control" type="text" placeholder="{{'enter_city_name' | translate }}" name="city" formControlName="city">
                                <div class="invalid-feedback" *ngIf="form.controls['city'].touched && form.controls['city'].errors?.['required']">
                                    {{ 'city_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'address'" [for]="'address'" [required]="true">
                                <input class="form-control" type="text" placeholder="{{ 'enter_store_address' | translate }}" name="address" formControlName="address">
                                <div class="invalid-feedback" *ngIf="form.controls['address'].touched && form.controls['address'].errors?.['required']">
                                    {{ 'address_is_required' | translate }} 
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'pincode'" [for]="'pincode'" [required]="true">
                                <input class="form-control" type="number" placeholder="{{ 'enter_pincode' | translate }}" name="pincode" formControlName="pincode">
                                <div class="invalid-feedback" *ngIf="form.controls['pincode'].touched && form.controls['pincode'].errors?.['required']">
                                    {{ 'pincode_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'faceBook'" [for]="'facebook'">
                                <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}" formControlName="facebook">
                             </app-form-fields>
                             <app-form-fields [label]="'instagram'" [for]="'instagram'">
                                <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}" formControlName="instagram">
                             </app-form-fields>
                             <app-form-fields [label]="'twitter'" [for]="'Twitter'">
                                <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}" formControlName="twitter">
                             </app-form-fields>
                             <app-form-fields [label]="'youtube'" [for]="'youtube'">
                                <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}" formControlName="youtube">
                             </app-form-fields>
                             <app-form-fields [label]="'pinterest'" [for]="'pinterest'">
                                <input type="url" class="form-control" placeholder="{{ 'enter_url' | translate }}" formControlName="pinterest">
                             </app-form-fields>
                            <app-form-fields [label]="'hide_email' | translate" [for]="'hide_vendor_email'" [required]="false">
                                <div class="form-check form-switch ps-0">
                                    <label class="switch">
                                        <input type="checkbox" id="hide_vendor_email" formControlName="hide_vendor_email">
                                        <span class="switch-state"></span>
                                    </label>
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'hide_phone' | translate" [for]="'hide_vendor_phone'" [required]="false">
                                <div class="form-check form-switch ps-0">
                                    <label class="switch">
                                        <input type="checkbox" id="hide_vendor_phone" formControlName="hide_vendor_phone">
                                        <span class="switch-state"></span>
                                    </label>
                                </div>
                            </app-form-fields>
                        </div>
                        <app-button [id]="'store_setting_btn'">{{ 'save' | translate }}</app-button>
                    </form>
                </ng-template>
            </li>
            <li ngbNavItem="password">
                <a ngbNavLink><i class="ri-phone-lock-line"></i> {{ 'change_password' | translate }}</a>
                <ng-template ngbNavContent>
                    <form class="theme-form theme-form-2 mega-form" [formGroup]="passwordForm"
                        (ngSubmit)="passwordFormSubmit()">
                        <div class="row">
                            <app-form-fields [label]="'current_password'" [for]="'current_password'" [required]="true">
                                <input class="form-control" type="password" placeholder="{{ 'enter_current_password' | translate }}" name="current_password" formControlName="current_password">
                                <div class="invalid-feedback" *ngIf="passwordForm.controls['current_password'].touched && passwordForm.controls['current_password'].errors?.['required']">
                                    {{ 'current_password_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'new_password'" [for]="'new_password'" [required]="true">
                                <input class="form-control" type="password" placeholder="{{ 'enter_new_password' | translate }}" name="password" formControlName="password">
                                <div class="invalid-feedback" *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['required']">
                                    {{ 'new_password_is_required' | translate }}
                                </div>
                            </app-form-fields>
                            <app-form-fields [label]="'confirm_password'" [for]="'confirm_password'" [required]="true">
                                <input class="form-control" type="password" placeholder="{{ 'enter_confirm_password' | translate }}" name="password_confirmation" formControlName="password_confirmation">
                                <div class="invalid-feedback" *ngIf="passwordForm.controls['password_confirmation'].touched && passwordForm.controls['password_confirmation'].errors?.['required'] else error">
                                    {{ 'confirm_password_is_required' | translate }}
                                </div>
                                <ng-template #error>
                                    <div class="invalid-feedback" *ngIf="passwordMatchError">
                                        {{ 'confirm_password_does_not_matched' | translate }}
                                    </div>
                                </ng-template>
                            </app-form-fields>
                        </div>
                        <app-button [id]="'password_btn'">{{ 'save' | translate }}</app-button>
                    </form>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-3"></div>
    </div>
</app-page-wrapper>