<div class="row">
  <div class="col-xl-5" *ngIf="product?.can_review || product?.reviews_count">
    <div class="product-rating-box">
      <div class="row">
        <div class="col-xl-12" *ngIf="product?.reviews_count">
          <div class="product-main-rating">
            <h2 *ngIf="product?.rating_count">{{ product?.rating_count?.toFixed(2) }} <i class="ri-star-fill"></i></h2>
            <h5>{{ product?.reviews_count }} {{ 'Overall Rating' | translate }}</h5>
          </div>
        </div>
        <div class="col-xl-12">
          <ul class="product-rating-list" *ngIf="product?.reviews_count">
            <li *ngFor="let rate of product?.review_ratings?.slice()?.reverse(); let i = index">
              <div class="rating-product">
                <h5>{{ (product?.review_ratings?.length! - 1 - i) + 1 }}<i class="ri-star-fill"></i></h5>
                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{'width': ((rate / product?.reviews_count!) * 100).toFixed(0)+'%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h5 class="total">{{ rate }}</h5>
              </div>
            </li>
          </ul>
          <div class="review-title-2" *ngIf="product?.can_review">
            <h4 class="fw-bold">{{ 'review_this_product' | translate }}</h4>
            <p>{{ 'let_other_customers_know_what_you_think' | translate }}</p>
            <app-button
              [class]="'btn'"
              [id]="'reviews_modal_btn'"
              [spinner]="false"
              (click)="reviewModal.openModal(product!, product?.user_review ? 'edit' : 'create')">
                {{ (product?.user_review ? 'Edit review' : 'write_a_review') | translate }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-7" *ngIf="product?.can_review || product?.reviews_count">
    <div class="review-people">
      <ul class="review-list" *ngIf="reviews?.length">
        <li *ngFor="let review of reviews">
          <div class="people-box">
            <div>
              <div class="people-image people-text">
                <img [src]="review?.consumer?.profile_image?.original_url"
                  class="img-fluid" alt="user" *ngIf="review?.consumer?.profile_image; else textImage">
                <ng-template #textImage>
                  <div class="user-round">
                    <h4>{{ review?.consumer?.name?.charAt(0)?.toString()?.toUpperCase() || 'F'  }}</h4>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="people-comment">
              <div class="people-name">
                <a class="name" href="javascript:void(0)">{{ review?.consumer?.name }}</a>
                <div class="date-time">
                  <h6 class="text-content">
                    {{ review?.created_at | date: 'dd MMM yyyy hh:mm:a' }}
                  </h6>
                  <div class="product-rating">
                    <ngb-rating [rate]="review?.rating || 0"></ngb-rating>
                  </div>
                </div>
              </div>
              <div class="reply">
                <p>{{ review?.description}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <app-no-data
        [class]="'no-data-added'"
        [text]="'No Review Yet'"
        [description]="'There are currently no ratings or reviews for this product'"
        *ngIf="!reviews?.length">
      </app-no-data>
    </div>
  </div>
  <div class="col-xl-12" *ngIf="!product?.can_review && !product?.reviews_count">
    <app-no-data
      [class]="'no-data-added'"
      [text]="'No Review Yet'"
      [description]="'There are currently no ratings or reviews for this product'"
      *ngIf="!reviews?.length">
    </app-no-data>
  </div>
</div>
<app-review-modal #reviewModal></app-review-modal>
