<div class="slider-3-blog ratio_65 no-arrow product-wrapper">
  <owl-carousel-o [options]="sliderOption ? sliderOption : bannerSlider ">
    <ng-container *ngIf="blogService.skeletonLoader else blogContent">
      <ng-container carouselSlide *ngFor="let item of skeletonItems">
        <ng-template carouselSlide>
          <app-skeleton-blog></app-skeleton-blog>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #blogContent>
      <ng-container carouselSlide *ngFor="let blog of blogs">
        <ng-template carouselSlide>
          <div>
            <div class="blog-box ratio_65" [class.sticky-blog-box]="blog.is_sticky === 1">
              <div class="blog-label-tag" *ngIf="blog.is_featured">
                <span>Featured</span>
              </div>
              <div class="blog-box-image">
                  <a [routerLink]="['/blog/', blog?.slug]" class="blog-image bg-size"
                    [ngStyle]="{'background-image': 'url(' + (blog.blog_thumbnail ? blog?.blog_thumbnail?.original_url : 'assets/images/product.png') + ')'}">
                  </a>
              </div>
              <a [routerLink]="['/blog/', blog?.slug]" class="blog-detail">
                <h6>{{ blog.created_at | date: 'dd MMM yyyy hh:mm:a' }}</h6>
                <h5>{{ blog.title }}</h5>
              </a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </owl-carousel-o>
</div>
