<div class="paymnet-option" *ngIf="option?.product?.safe_checkout && product?.safe_checkout">
    <div class="product-title">
        <h4>{{ 'guaranteed_safe_checkout' | translate }}</h4>
        <img [src]="option?.product?.safe_checkout_image" class="img-fluid payment-img"
            *ngIf="option?.product?.safe_checkout_image">
    </div>
</div>
<div class="secure-site-sec" *ngIf="option?.product?.secure_checkout && product?.secure_checkout">
    <h4>{{ 'secure_checkout' | translate }}</h4>
    <img [src]="option?.product?.secure_checkout_image" class="img-fluid payment-img"
        *ngIf="option?.product?.secure_checkout_image">
</div>
