<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'theme_rome_settings'">
   <form class="theme-form theme-form-2 mega-form" (ngSubmit)="submit()" [formGroup]="form">
      <div class="vertical-tabs">
         <div class="row">
            <div class="col-xl-3 col-lg-4">
               <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical"
                  formGroupName="content">
                  <li ngbNavItem="home_banner">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'home_banner' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="home_banner">
                           <app-form-fields [label]="'background_image'" [for]="'image_url'">
                              <app-image-upload 
                                 [url]="true"
                                 [multipleImage]="false"
                                 [helpText]="'*Upload image size 1920x637px recommended'"
                                 [imageUrl]="form.get('content.home_banner.bg_image_url')?.value"
                                 (selectedFiles)="selectImage($event, 'content.home_banner.bg_image_url')">
                              </app-image-upload>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                           <h4 class="fw-semibold mb-3 txt-primary w-100">{{ 'banners' | translate }}</h4>
                           <div class="shipping-accordion variant-accordion">
                              <ng-container>
                              <div ngbAccordion>
                                 <div ngbAccordionItem [collapsed]="false">
                                    <div ngbAccordionHeader>
                                       <button ngbAccordionButton>
                                       {{ 'main_banner' | translate }}
                                       </button>
                                    </div>
                                    <div ngbAccordionCollapse>
                                       <div ngbAccordionBody>
                                          <ng-template>
                                             <div formGroupName="main_banner">
                                                <app-form-fields [label]="'image'" [for]="'image_url'">
                                                   <app-image-upload 
                                                      [url]="true"
                                                      [multipleImage]="false"
                                                      [helpText]="'*Upload image size 780x534px recommended'"
                                                      [imageUrl]="form.get('content.home_banner.main_banner.image_url')?.value"
                                                      (selectedFiles)="selectImage($event, 'content.home_banner.main_banner.image_url')">
                                                   </app-image-upload>
                                                </app-form-fields>
                                                <app-link 
                                                   (productFilter)="getProducts($event)"
                                                   [products]="(product$ | async)?.length ? (product$ | async) : []"
                                                   [linkForm]="form.get('content.home_banner.main_banner.redirect_link')">
                                                </app-link>
                                             </div>
                                          </ng-template>
                                       </div>
                                    </div>
                                 </div>
                                 <div ngbAccordionItem [collapsed]="false">
                                    <div ngbAccordionHeader>
                                       <button ngbAccordionButton>
                                        {{ 'sub_banner' | translate }} 1
                                       </button>
                                    </div>
                                    <div ngbAccordionCollapse>
                                       <div ngbAccordionBody>
                                          <ng-template>
                                             <div formGroupName="sub_banner_1">
                                                <app-form-fields [label]="'image'" [for]="'image_url'">
                                                   <app-image-upload 
                                                      [url]="true"
                                                      [multipleImage]="false"
                                                      [helpText]="'*Upload image size 375x534px recommended'"
                                                      [imageUrl]="form.get('content.home_banner.sub_banner_1.image_url')?.value"
                                                      (selectedFiles)="selectImage($event, 'content.home_banner.sub_banner_1.image_url')">
                                                   </app-image-upload>
                                                </app-form-fields>
                                                <app-link 
                                                   [linkForm]="form.get('content.home_banner.sub_banner_1.redirect_link')">
                                                </app-link>
                                             </div>
                                          </ng-template>
                                       </div>
                                    </div>
                                 </div>
                                 <div ngbAccordionItem [collapsed]="false">
                                    <div ngbAccordionHeader>
                                       <button ngbAccordionButton>
                                        {{ 'sub_banner' | translate }} 2
                                       </button>
                                    </div>
                                    <div ngbAccordionCollapse>
                                       <div ngbAccordionBody>
                                          <ng-template>
                                             <div formGroupName="sub_banner_2">
                                                <app-form-fields [label]="'image'" [for]="'image_url'">
                                                   <app-image-upload 
                                                      [url]="true"
                                                      [multipleImage]="false"
                                                      [helpText]="'*Upload image size 375x254px recommended'"
                                                      [imageUrl]="form.get('content.home_banner.sub_banner_2.image_url')?.value"
                                                      (selectedFiles)="selectImage($event, 'content.home_banner.sub_banner_2.image_url')">
                                                   </app-image-upload>
                                                </app-form-fields>
                                                <app-link 
                                                   (productFilter)="getProducts($event)"
                                                   [products]="(product$ | async)?.length ? (product$ | async) : []"
                                                   [linkForm]="form.get('content.home_banner.sub_banner_2.redirect_link')">
                                                </app-link>
                                             </div>
                                          </ng-template>
                                       </div>
                                    </div>
                                 </div>
                                 <div ngbAccordionItem [collapsed]="false">
                                    <div ngbAccordionHeader>
                                       <button ngbAccordionButton>
                                         {{ 'sub_banner' | translate }} 3
                                       </button>
                                    </div>
                                    <div ngbAccordionCollapse>
                                       <div ngbAccordionBody>
                                          <ng-template ngbPanelContent>
                                             <div formGroupName="sub_banner_3">
                                                <app-form-fields [label]="'image'" [for]="'image_url'">
                                                   <app-image-upload 
                                                      [url]="true"
                                                      [multipleImage]="false"
                                                      [helpText]="'*Upload image size 375x254px recommended'"
                                                      [imageUrl]="form.get('content.home_banner.sub_banner_3.image_url')?.value"
                                                      (selectedFiles)="selectImage($event, 'content.home_banner.sub_banner_3.image_url')">
                                                   </app-image-upload>
                                                </app-form-fields>
                                                <app-link 
                                                   (productFilter)="getProducts($event)"
                                                   [products]="(product$ | async)?.length ? (product$ | async) : []"
                                                   [linkForm]="form.get('content.home_banner.sub_banner_3.redirect_link')">
                                                </app-link>
                                             </div>
                                          </ng-template>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              </ng-container>
                           </div>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="categories_image_list">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'categories_image_list' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="categories_image_list">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'categories'" [for]="'type'">
                              <select2 class="custom-select" 
                                 [templates]="template" 
                                 [data]="(categories$ | async) ? (categories$ | async) : []"
                                 [placeholder]="'select_categories' | translate "
                                 formControlName="category_ids" multiple="true"
                                 noResultMessage="{{'no_data_found' | translate }}"
                                 resettable>
                                 <ng-template #template let-data="data">
                                    <div class="image">
                                       <img [src]="data.image" [class]="'img-fluid selection-image'">
                                    </div>
                                    {{ data.name }}
                                 </ng-template>
                              </select2>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="value_banners">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'value_banners' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="value_banners">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                           <app-button [class]="'btn btn-animation mb-3'" [id]="'add_banner_btn'" (click)="addBanner($event)" [spinner]="false">
                              {{ 'add_banners' | translate }}
                           </app-button>
                           <div class="shipping-accordion variant-accordion" *ngIf="bannersArray?.controls?.length">
                              <div formArrayName='banners'>
                                 <ng-container>
                                    <div class="d-flex" *ngFor="let banners of bannersArray.controls; let i = index"
                                       formGroupName="{{ i }}">
                                       <div class="col-11">
                                          <div ngbAccordion>
                                             <div ngbAccordionItem [collapsed]="false">
                                                <div ngbAccordionHeader>
                                                   <button ngbAccordionButton>
                                                      {{ 'banner '+(i+1) }} 
                                                   </button>
                                                </div>
                                                <div ngbAccordionCollapse>
                                                   <div ngbAccordionBody>
                                                      <ng-template>
                                                         <app-form-fields [label]="'image'" [for]="'image_url'">
                                                            <app-image-upload
                                                               [url]="true"
                                                               [multipleImage]="false"
                                                               [helpText]="'*Upload image size 510x288px recommended'"
                                                               [imageUrl]="form.get('content.value_banners.banners')?.value[i].image_url"
                                                               (selectedFiles)="selectBannerArray($event, i )">
                                                            </app-image-upload>
                                                         </app-form-fields>
                                                         <app-link 
                                                            (productFilter)="getProducts($event)"
                                                            [products]="(product$ | async)?.length ? (product$ | async) : []"
                                                            [linkForm]="banners.get('redirect_link')">
                                                         </app-link>
                                                         <app-form-fields [label]="'status'" [for]="'status'">
                                                            <div class="form-check form-switch ps-0">
                                                               <label class="switch">
                                                                  <input type="checkbox" id="status" formControlName="status">
                                                                  <span class="switch-state"></span>
                                                               </label>
                                                            </div>
                                                         </app-form-fields>
                                                      </ng-template>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-1 text-center fs-20">
                                          <a href="javascript:void(0)" (click)="remove(i)"
                                             class="invalid-feedback text-end cursor-pointer d-inline-block w-auto mt-2">
                                             <i class="ri-close-line"></i></a>
                                       </div>
                                    </div>
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="categories_products">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'categories_products' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="categories_products">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'categories'" [for]="'type'">
                              <select2 class="custom-select"
                                 [templates]="template" 
                                 [data]="(categories$ | async) ? (categories$ | async) : []"
                                 [placeholder]="'Select categories'" 
                                 formControlName="category_ids" multiple="true"
                                 noResultMessage="{{'no_data_found' | translate }}"
                                 resettable>
                                 <ng-template #template let-data="data">
                                    <div class="image">
                                       <img [src]="data.image" [class]="'img-fluid selection-image'">
                                    </div>
                                    {{ data.name }}
                                 </ng-template>
                              </select2>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="two_column_banners">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'two_column_banners' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="two_column_banners">
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                           <div class="inside-horizontal-tabs">
                              <ul ngbNav #nav="ngbNav" [(activeId)]="two_column_banner" class="nav-tabs">
                                 <li [ngbNavItem]="1">
                                    <a ngbNavLink>{{ 'banner' | translate }} 1</a>
                                    <ng-template ngbNavContent>
                                       <div formGroupName="banner_1">
                                          <app-form-fields [label]="'image'" [for]="'image_url'">
                                             <app-image-upload 
                                                [url]="true"
                                                [multipleImage]="false"
                                                [helpText]="'*Upload image size 781x406px recommended'"
                                                [imageUrl]="form.get('content.two_column_banners.banner_1.image_url')?.value"
                                                (selectedFiles)="selectImage($event, 'content.two_column_banners.banner_1.image_url')">
                                             </app-image-upload>
                                          </app-form-fields>
                                          <app-link 
                                             (productFilter)="getProducts($event)"
                                             [products]="(product$ | async)?.length ? (product$ | async) : []"
                                             [linkForm]="form.get('content.two_column_banners.banner_1.redirect_link')">
                                          </app-link>
                                       </div>
                                    </ng-template>
                                 </li>
                                 <li [ngbNavItem]="2">
                                    <a ngbNavLink>{{ 'banner' | translate }} 2</a>
                                    <ng-template ngbNavContent>
                                       <div formGroupName="banner_2">
                                          <app-form-fields [label]="'image'" [for]="'image_url'">
                                             <app-image-upload 
                                                [url]="true"
                                                [multipleImage]="false"
                                                [helpText]="'*Upload image size 781x406px recommended'"
                                                [imageUrl]="form.get('content.two_column_banners.banner_2.image_url')?.value"
                                                (selectedFiles)="selectImage($event, 'content.two_column_banners.banner_2.image_url')">
                                             </app-image-upload>
                                          </app-form-fields>
                                          <app-link 
                                             (productFilter)="getProducts($event)"
                                             [products]="(product$ | async)?.length ? (product$ | async) : []"
                                             [linkForm]="form.get('content.two_column_banners.banner_2.redirect_link')">
                                          </app-link>
                                       </div>
                                    </ng-template>
                                 </li>
                              </ul>
                              <div [ngbNavOutlet]="nav" class="mt-3"></div>
                           </div>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="slider_products">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'slider_products' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="slider_products">
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                           <div class="shipping-accordion variant-accordion">
                              <ng-container>
                                 <div ngbAccordion>
                                    <div ngbAccordionItem [collapsed]="false">
                                       <div ngbAccordionHeader>
                                          <button ngbAccordionButton>
                                             {{ form.get('content.slider_products.product_slider_1.title')?.value }}
                                          </button>
                                       </div>
                                       <div ngbAccordionCollapse>
                                          <div ngbAccordionBody>
                                             <ng-template>
                                                <div formGroupName="product_slider_1">
                                                   <app-form-fields [label]="'title'" [for]="'title'">
                                                      <input class="form-control" id="title" type="text"
                                                         placeholder="{{ 'enter_title' | translate }}" formControlName="title">
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'product'" [for]="'product_ids'">
                                                      <select2 class="custom-select"
                                                         [templates]="template" 
                                                         [data]="(product$ | async)?.length ? (product$ | async) : []"
                                                         [placeholder]="'select_product' | translate " formControlName="product_ids"
                                                         noResultMessage="{{'no_data_found' | translate }}"
                                                         [customSearchEnabled]="true"
                                                         (close)="productDropdown($event)"
                                                         (search)="searchProduct($event)"
                                                         multiple="true" resettable>
                                                         <ng-template #template let-data="data">
                                                            <div class="image">
                                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                                            </div>
                                                            {{ data.name }}
                                                         </ng-template>
                                                      </select2>
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'status'" [for]="'status'">
                                                      <div class="form-check form-switch ps-0">
                                                         <label class="switch">
                                                            <input type="checkbox" id="status" formControlName="status">
                                                            <span class="switch-state"></span>
                                                         </label>
                                                      </div>
                                                   </app-form-fields>
                                                </div>
                                             </ng-template>
                                          </div>
                                       </div>
                                    </div>
                                    <div ngbAccordionItem [collapsed]="false">
                                       <div ngbAccordionHeader>
                                          <button ngbAccordionButton>
                                             {{ form.get('content.slider_products.product_slider_2.title')?.value }}
                                          </button>
                                       </div>
                                       <div ngbAccordionCollapse>
                                          <div ngbAccordionBody>
                                             <ng-template>
                                                <div formGroupName="product_slider_2">
                                                   <app-form-fields [label]="'title'" [for]="'title'">
                                                      <input class="form-control" id="title" type="text"
                                                         placeholder="{{ 'enter_title' | translate }}" formControlName="title">
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'product'" [for]="'product_ids'">
                                                      <select2 class="custom-select"
                                                         [templates]="template" 
                                                         [data]="(product$ | async)?.length ? (product$ | async) : []"
                                                         [placeholder]="'select_product' | translate " formControlName="product_ids"
                                                         noResultMessage="{{'no_data_found' | translate }}"
                                                         [customSearchEnabled]="true"
                                                         (close)="productDropdown($event)"
                                                         (search)="searchProduct($event)"
                                                         multiple="true" resettable>
                                                         <ng-template #template let-data="data">
                                                            <div class="image">
                                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                                            </div>
                                                            {{ data.name }}
                                                         </ng-template>
                                                      </select2>
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'status'" [for]="'status'">
                                                      <div class="form-check form-switch ps-0">
                                                         <label class="switch">
                                                            <input type="checkbox" id="status" formControlName="status">
                                                            <span class="switch-state"></span>
                                                         </label>
                                                      </div>
                                                   </app-form-fields>
                                                </div>
                                             </ng-template>
                                          </div>
                                       </div>
                                    </div>
                                    <div ngbAccordionItem [collapsed]="false">
                                       <div ngbAccordionHeader>
                                          <button ngbAccordionButton>
                                            {{ form.get('content.slider_products.product_slider_3.title')?.value }}
                                          </button>
                                       </div>
                                       <div ngbAccordionCollapse>
                                          <div ngbAccordionBody>
                                             <ng-template>
                                                <div formGroupName="product_slider_3">
                                                   <app-form-fields [label]="'title'" [for]="'title'">
                                                      <input class="form-control" id="title" type="text"
                                                         placeholder="{{ 'enter_title' | translate }}" formControlName="title">
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'product'" [for]="'product_ids'">
                                                      <select2 class="custom-select"
                                                         [templates]="template" 
                                                         [data]="(product$ | async)?.length ? (product$ | async) : []"
                                                         [placeholder]="'select_product' | translate " formControlName="product_ids"
                                                         noResultMessage="{{'no_data_found' | translate }}"
                                                         [customSearchEnabled]="true"
                                                         (close)="productDropdown($event)"
                                                         (search)="searchProduct($event)"
                                                         multiple="true" resettable>
                                                         <ng-template #template let-data="data">
                                                            <div class="image">
                                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                                            </div>
                                                            {{ data.name }}
                                                         </ng-template>
                                                      </select2>
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'status'" [for]="'status'">
                                                      <div class="form-check form-switch ps-0">
                                                         <label class="switch">
                                                            <input type="checkbox" id="status" formControlName="status">
                                                            <span class="switch-state"></span>
                                                         </label>
                                                      </div>
                                                   </app-form-fields>
                                                </div>
                                             </ng-template>
                                          </div>
                                       </div>
                                    </div>
                                    <div ngbAccordionItem [collapsed]="false">
                                       <div ngbAccordionHeader>
                                          <button ngbAccordionButton>
                                             {{ form.get('content.slider_products.product_slider_4.title')?.value }}
                                          </button>
                                       </div>
                                       <div ngbAccordionCollapse>
                                          <div ngbAccordionBody>
                                             <ng-template>
                                                <div formGroupName="product_slider_4">
                                                   <app-form-fields [label]="'title'" [for]="'title'">
                                                      <input class="form-control" id="title" type="text"
                                                         placeholder="{{ 'enter_title' | translate }}" formControlName="title">
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'product'" [for]="'product_ids'">
                                                      <select2 class="custom-select"
                                                         [templates]="template" 
                                                         [data]="(product$ | async)?.length ? (product$ | async) : []"
                                                         [placeholder]="'select_product' | translate " formControlName="product_ids"
                                                         noResultMessage="{{'no_data_found' | translate }}"
                                                         [customSearchEnabled]="true"
                                                         (close)="productDropdown($event)"
                                                         (search)="searchProduct($event)"
                                                         multiple="true" resettable>
                                                         <ng-template #template let-data="data">
                                                            <div class="image">
                                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                                            </div>
                                                            {{ data.name }}
                                                         </ng-template>
                                                      </select2>
                                                   </app-form-fields>
                                                   <app-form-fields [label]="'status'" [for]="'status'">
                                                      <div class="form-check form-switch ps-0">
                                                         <label class="switch">
                                                            <input type="checkbox" id="status" formControlName="status">
                                                            <span class="switch-state"></span>
                                                         </label>
                                                      </div>
                                                   </app-form-fields>
                                                </div>
                                             </ng-template>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="full_width_banner">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{'full_width_banner' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="full_width_banner">
                           <app-form-fields [label]="'image'" [for]="'image_url'">
                              <app-image-upload 
                                 [url]="true"
                                 [multipleImage]="false"
                                 [helpText]="'*Upload image size 1600x418px recommended'"
                                 [imageUrl]="form.get('content.full_width_banner.image_url')?.value"
                                 (selectedFiles)="selectImage($event, 'content.full_width_banner.image_url')">
                              </app-image-upload>
                           </app-form-fields>
                           <app-link 
                              (productFilter)="getProducts($event)"
                              [products]="(product$ | async)?.length ? (product$ | async) : []"
                              [linkForm]="form.get('content.full_width_banner.redirect_link')">
                           </app-link>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="products_list_1">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'products_list' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="products_list_1">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'product'" [for]="'product_ids'">
                              <select2 class="custom-select"
                                 [templates]="template" 
                                 [data]="(product$ | async)?.length ? (product$ | async) : []"
                                 [placeholder]="'select_product' | translate " formControlName="product_ids"
                                 noResultMessage="{{'no_data_found' | translate }}"
                                 [customSearchEnabled]="true"
                                 (close)="productDropdown($event)"
                                 (search)="searchProduct($event)"
                                 multiple="true" resettable>
                                 <ng-template #template let-data="data">
                                    <div class="image">
                                       <img [src]="data.image" [class]="'img-fluid selection-image'">
                                    </div>
                                    {{ data.name }}
                                 </ng-template>
                              </select2>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="featured_blogs">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'featured_blogs' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="featured_blogs">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'blogs'" [for]="'type'">
                              <select2 class="custom-select" [data]="(blogs$ | async) ? (blogs$ | async) : []"
                                 [placeholder]="'select_blogs' | translate " formControlName="blog_ids" 
                                 noResultMessage="{{'no_data_found' | translate }}"
                                 multiple="true">
                              </select2>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
                  <li ngbNavItem="news_letter">
                     <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'news_letter' | translate }}</a>
                     <ng-template ngbNavContent>
                        <div formGroupName="news_letter">
                           <app-form-fields [label]="'title'" [for]="'title'">
                              <input class="form-control" id="title" type="text" placeholder="{{ 'enter_title' | translate }}"
                                 formControlName="title">
                           </app-form-fields>
                           <app-form-fields [label]="'sub_title'" [for]="'title'">
                              <input class="form-control" id="sub_title" type="text" placeholder="{{ 'enter_sub_title' | translate }}"
                                 formControlName="sub_title">
                           </app-form-fields>
                           <app-form-fields [label]="'image'" [for]="'image_url'">
                              <app-image-upload 
                                 [url]="true"
                                 [multipleImage]="false"
                                 [helpText]="'*Upload image size 1600x408px recommended'"
                                 [imageUrl]="form.get('content.news_letter.image_url')?.value"
                                 (selectedFiles)="selectImage($event, 'content.news_letter.image_url')">
                              </app-image-upload>
                           </app-form-fields>
                           <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                 <label class="switch">
                                    <input type="checkbox" id="status" formControlName="status">
                                    <span class="switch-state"></span>
                                 </label>
                              </div>
                           </app-form-fields>
                        </div>
                     </ng-template>
                  </li>
               </ul>
            </div>
            <div class="col-xl-7 col-lg-8">
               <div [ngbNavOutlet]="nav"></div>
            </div>
         </div>
         <app-button [id]="'theme_4_submit'" *hasPermission="'theme.edit'">{{ 'submit' | translate }}</app-button>
      </div>
   </form>
</app-page-wrapper>