<section>
  <div class="container-fluid-lg">
      <div class="row">
          <div class="col-12">
              <app-collection-category-banner [imageUrl]="bannerImageUrl"></app-collection-category-banner>
          </div>
      </div>
  </div>
</section>
<section class="section-b-space shop-section" id="filtered_products">
  <div class="container-fluid-lg">
      <div class="row">
          <div class="col-custome-12">
              <app-collection-products [filter]="filter" [gridCol]="'collection_5_grid'"></app-collection-products>
          </div>
      </div>
  </div>
</section>
