<!-- Vertical Product Box 1 -->
<ul class="product-list border-0 p-0 sidebar-product d-flex" *ngIf="style == 'vertical'">
  <ng-container *ngIf="productService.skeletonLoader else productVertical">
    <li *ngFor="let item of skeletonItems">
      <app-skeleton-product-box [style]="'vertical'"></app-skeleton-product-box>
    </li>
  </ng-container>
  <ng-template #productVertical>
    <li *ngFor="let product of products">
      <app-product-box [product]="product" [style]="'vertical'"></app-product-box>
    </li>
  </ng-template>
</ul>

<!-- Vertical Product Box 2 -->
<div class="best-selling-slider product-wrapper" *ngIf="style == 'classic'">
  <div class="position-relative">
    <span class="border-effect"></span>
    <ul class="product-list">
      <ng-container *ngIf="productService.skeletonLoader else productVerticalContent">
        <li *ngFor="let item of skeletonItems">
          <app-skeleton-product-box [style]="'vertical'"></app-skeleton-product-box>
        </li>
      </ng-container>
      <ng-template #productVerticalContent>
        <li *ngFor="let product of products">
          <app-product-box [product]="product" [style]="'vertical'"></app-product-box>
        </li>
      </ng-template>
    </ul>
  </div>
</div>

<!-- Horizontal Product Box -->
<div [class]="!productService.skeletonLoader ? productStyle : ''" *ngIf="style == 'horizontal'">
  <ng-container *ngIf="productService.skeletonLoader else productContent">
    <div class="row row-cols-5 m-0">
        <div *ngFor="let item of skeletonItems">
          <app-skeleton-product-box></app-skeleton-product-box>
        </div>
    </div>
  </ng-container>
  <ng-template #productContent>
    <div class="product-box-slider" *ngIf="slider else productBox">
      <!-- Horizontal Product Box With Slider -->
      <owl-carousel-o [options]="sliderOption">
        <ng-template carouselSlide *ngFor="let product of products">
          <div class="row m-0">
            <div class="col-12 px-0">
              <app-product-box [product]="product" [class]="boxClass" [style]="'horizontal'"></app-product-box>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <ng-template #productBox>
      <div [ngClass]="[showItem === 5 ? 'row g-sm-4 g-3 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2' : '', 
                      showItem === 6 ? 'row g-sm-4 g-3 row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-2' : '', 
                      showItem === 4 ? 'row g-sm-4 g-3 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2' : '',]">
        <!-- Horizontal Product Box Without Slider -->
        <ng-container *ngFor="let product of products">
          <div>
            <app-product-box [product]="product" [class]="boxClass" [style]="'horizontal'"></app-product-box>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </ng-template>
</div>
