<div class="container-fluid-lg">
  <div class="row g-4">
      <ng-container *ngIf="storeService.skeletonLoader else storeContent">
          <div class="col-xxl-4 col-md-6" *ngFor="let item of skeletonItems">
              <app-skeleton-seller-store></app-skeleton-seller-store>
          </div>
      </ng-container>
      <ng-template #storeContent>
          <div class="col-xxl-4 col-md-6" *ngFor="let store of stores">
              <div class="seller-grid-box seller-grid-box-1">
                  <div class="grid-image">
                  <app-seller-store-logo [store]="store"></app-seller-store-logo>
                  <div class="contain-name">
                      <div>
                          <div class="since-number">
                              <app-seller-store-rating [store]="store"></app-seller-store-rating>
                          </div>
                          <app-seller-store-name [store]="store"></app-seller-store-name>
                      </div>
                      <app-seller-store-product-counts [store]="store"></app-seller-store-product-counts>
                  </div>
                  </div>
                  <div class="grid-contain">
                      <div class="seller-contact-details">
                      <app-seller-contact-details [store]="store"></app-seller-contact-details>
                      </div>
                      <div class="seller-category">
                          <a [routerLink]="['/seller/store/', store.slug]" class="btn btn-sm theme-bg-color text-white fw-bold">
                            {{ 'visit_store' | translate }} <i class="ri-arrow-right-line ms-2"></i>
                          </a>
                          <app-seller-store-products [store]="store"></app-seller-store-products>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </div>
</div>
