<app-page-wrapper [gridClass]="'col-sm-12'" [title]="type +'_category'">
    <form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
        <app-form-fields [label]="'name' | translate" [for]="'name'" [required]="true">
            <input class="form-control" type="text" placeholder="{{ 'enter_name' | translate }}" formControlName="name">
            <div class="invalid-feedback" *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']">
                {{ 'name_is_required' | translate }}
            </div>
        </app-form-fields>
        <app-form-fields [label]="'description' | translate" [for]="'description'" [required]="false">
            <textarea class="form-control" placeholder="{{ 'enter_description' | translate }}" formControlName="description" rows="3"></textarea>
        </app-form-fields>
        <app-form-fields [label]="'commission_rate' | translate " [for]="'commission_rate'" [required]="false" *ngIf="categoryType == 'product'">
            <div class="input-group">
                <input class="form-control" id="commission_rate" type="number" min="0" max="100" oninput="if (value > 100) value = 100; if (value < 0) value = 0;"  placeholder="Enter Commision Rate" formControlName="commission_rate" numbersOnly/>
                <span class="input-group-text">%</span>
            </div>
            <p class="help-text">{{ '*Define the percentage of earnings retained as commission.' }}</p>
        </app-form-fields>
        <app-form-fields [label]="'select_parent' | translate " [for]="'category'" [required]="false">
            <app-advanced-dropdown 
                [selectSingle]="true"
                [selectedOption]="category && category.parent_id ? [category.parent_id] : []"
                [options]="categories" 
                [subArrayKey]="'subcategories'" 
                (selectedItem)="selectItem($event)">
            </app-advanced-dropdown>
        </app-form-fields>
        <app-form-fields [label]="'image' | translate " [for]="'image'" [required]="false">
            <app-image-upload 
                [multipleImage]="false"
                [image]="category?.category_image"
                (selectedFiles)="selectCategoryImage($event)">
            </app-image-upload>
        </app-form-fields>
        <app-form-fields [label]="'icon' | translate " [for]="'icon'" [required]="false">
            <app-image-upload 
                [multipleImage]="false"
                [image]="category?.category_icon"
                (selectedFiles)="selectCategoryIcon($event)">
            </app-image-upload>
        </app-form-fields>
        <app-form-fields [label]="'status' | translate " [for]="'status'" [required]="false">
            <div class="form-check form-switch ps-0">
                <label class="switch">
                    <input type="checkbox" id="status" formControlName="status">
                    <span class="switch-state"></span>
                </label>
            </div>
        </app-form-fields>
        <app-button [id]="'category_btn'">
            {{ (type == 'create' ? 'save_category' : 'update_category') | translate }}
        </app-button>
    </form>
</app-page-wrapper>