

<div class="container-fluid-lg">
  <div class="row g-4">
    <ng-container *ngIf="storeService.skeletonLoader else storeContent">
        <div class="col-xxl-4 col-md-6" *ngFor="let item of skeletonItems">
          <app-skeleton-seller-store></app-skeleton-seller-store>
        </div>
    </ng-container>
    <ng-template #storeContent>
      <div class="col-xxl-4 col-md-6" *ngFor="let store of stores">
        <a class="seller-grid-box">
          <div class="grid-contain">
            <div class="seller-contact-details">
              <app-seller-contact-details [store]="store"></app-seller-contact-details>
            </div>
            <div class="contain-name">
              <div>
                <app-seller-store-name [store]="store"></app-seller-store-name>
                <app-seller-store-rating [store]="store"></app-seller-store-rating>
                <a [routerLink]="['/seller/store/', store.slug]"
                  class="btn btn-sm theme-bg-color text-white fw-bold w-max-content">
                  {{ 'visit_store' | translate }} <i class="ri-arrow-right-line ms-2"></i>
                </a>
              </div>
              <div class="grid-image">
                <a [routerLink]="['/seller/store/', store.slug]">
                  <app-seller-store-logo [store]="store"></app-seller-store-logo>
                </a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
</div>

