<ng-template #addCustomerModal let-modal>
   <div class="modal-header">
      <h3 class="fw-semibold">{{ 'add_customer' | translate }}</h3>
      <app-button [class]="'btn btn-close'" [spinner]="false" [id]="'customer_modal_close_btn'" (click)="modal.dismiss('Cross click')">
         <i class="ri-close-line"></i>
      </app-button>
   </div>
   <div class="modal-body">
      <form [formGroup]="form" class="theme-form theme-form-2" (ngSubmit)="submit()">
         <app-form-fields [label]="'name' | translate" [for]="'name'" [required]="true">
            <input class="form-control" id="name" type="text" placeholder="{{ 'enter_name' | translate }}" formControlName="name">
            <div class="invalid-feedback"
               *ngIf="form?.controls['name']?.touched && form.controls['name']?.errors?.['required']">
               {{ 'name_is_required' | translate }}
            </div>
         </app-form-fields>
         <app-form-fields [label]="'email'" [for]="'email'" [required]="true">
            <input class="form-control" id="email" type="email" placeholder="{{ 'enter_email' | translate }}" formControlName="email">
            <div class="invalid-feedback"
               *ngIf="form?.controls['email']?.touched && form.controls['email']?.errors?.['required']">
               {{ 'email_is_required' | translate }}
            </div>
            <div class="invalid-feedback"
               *ngIf="form?.controls['email']?.touched && form.controls['email']?.errors?.['email']">
               {{ 'invalid_email' | translate }}
            </div>
         </app-form-fields>
         <app-form-fields [label]="'phone'" [for]="'phone'" [required]="true">
            <select2 class="custom-select intl-tel-input" [templates]="template" [data]="codes"
               formControlName="country_code">
               <ng-template #template let-data="data">
                  <div class="country">
                     <div class="flag-box">
                        <div class="iti-flag {{data?.class}}"></div>
                     </div>
                     <span class="dial-code">{{data.code}}</span>
                  </div>
               </ng-template>
            </select2>
            <input type="number" class="form-control intl-input-padding" formControlName="phone"
               placeholder="{{'enter_phone_number' | translate }}" name="phone">
            <div class="invalid-feedback"
               *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.['required']"
               autocomplete="false">
               {{ 'phone_number_is_required' | translate }}
            </div>
            <div class="invalid-feedback"
               *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.['pattern']">
               {{ 'phone_number_is_invalid' | translate }}
            </div>
         </app-form-fields>
         <app-form-fields [label]="'password'" [for]="'password'" [required]="true">
            <input class="form-control" id="password" type="password" placeholder="Enter password"
               formControlName="password">
            <div class="invalid-feedback"
               *ngIf="form?.controls['password']?.touched && form.controls['password']?.errors?.['required']">
               {{ 'password_is_required' | translate }}
            </div>
         </app-form-fields>
         <app-form-fields [label]="'confirm_password'" [for]="'password_confirmation'" [required]="true">
            <input class="form-control" id="password_confirmation" type="password"
               placeholder="{{ 'enter_password_confirmation' | translate }}" formControlName="password_confirmation">
            <div class="invalid-feedback"
               *ngIf="form?.controls['password_confirmation']?.touched && form.controls['password_confirmation']?.errors?.['required'] else error">
               {{ 'confirm_password_is_required' | translate }}
            </div>
            <ng-template #error>
               <div class="invalid-feedback" *ngIf="passwordMatchError">
                  {{ 'confirm_password_does_not_matched' | translate }}
              </div>
            </ng-template>
         </app-form-fields>
         <div class="button-box">
            <app-button 
               [class]="'btn-md fw-bold btn btn-secondary'" [spinner]="false"
               [id]="'cancel_customer_btn'" (click)="modal.dismiss('Cancel')">
               {{ 'Cancel' | translate }}
            </app-button>
            <app-button 
               [class]="'btn-theme btn-md fw-bold btn'" 
               [id]="'submit_customer_btn'">
               {{ 'Submit' | translate }}
            </app-button>
         </div>
      </form>
   </div>
</ng-template>