<div class="row g-2">
    <div class="col-xxl-9">
        <div class="mb-4" *ngIf="!order?.sub_orders?.length">
            <div class="tracking-panel">
                <ul>
                    <ng-container *ngFor="let orderStatus of (orderStatus$ | async)?.data">
                        <li [class.active]="orderStatus?.sequence <= order?.order_status?.sequence" [ngClass]="{'d-none': (orderStatus?.sequence >= order?.order_status?.sequence && order?.order_status?.slug == 'cancelled') || 
                                                   orderStatus?.slug == 'cancelled'}">
                            <div class="panel-content">
                                <div class="icon">
                                    <img src="assets/svg/tracking/{{orderStatus?.slug}}.svg" class="img-fluid"
                                        alt="image">
                                </div>
                                <div class="status">{{ orderStatus?.name.replace('_', ' ') | titlecase }}</div>
                            </div>
                        </li>
                    </ng-container>
                    <li class="active cancelled-box" *ngIf="order?.order_status?.slug == 'cancelled'">
                        <div class="panel-content">
                            <div class="icon">
                                <img src="assets/svg/tracking/{{order?.order_status?.slug}}.svg" class="img-fluid"
                                    alt="image">
                            </div>
                            <div class="status">{{ order?.order_status?.name?.replace('_', ' ') | titlecase }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <app-page-wrapper [gridClass]="'col-sm-12'" [title]="('order_number' | translate)+': #'+order?.order_number">
            <div button
                *ngIf="!order?.sub_orders?.length && (order?.order_status?.slug != 'cancelled' && order?.order_status?.slug != 'delivered')">
                <select2 class="custom-select min-w-cls"
                    [data]="(orderStatuses$ | async)?.length ? (orderStatuses$ | async) : []"
                    [placeholder]="'select_status' | translate " [value]="order?.order_status?.id"
                    (update)="updateOrderStatus($event)">
                </select2>
            </div>
            <div class="tracking-wrapper table-responsive">
                <table class="table product-table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'image' | translate }}</th>
                            <th scope="col">{{ 'name' | translate }}</th>
                            <th scope="col">{{ 'price' | translate }}</th>
                            <th scope="col">{{ 'quantity' | translate }}</th>
                            <th scope="col">{{ 'subtotal' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of order?.products">
                            <td class="product-image">
                                <img [src]="product?.pivot?.variation && product?.pivot?.variation?.variation_image 
                                        ? product?.pivot?.variation?.variation_image?.original_url
                                        : product?.product_thumbnail 
                                        ? product?.product_thumbnail?.original_url 
                                        : 'assets/images/product.png'" class="img-fluid" alt="product">
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.variation ? product?.pivot?.variation?.name : product?.name }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.single_price | currencySymbol }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.quantity }}</h6>
                            </td>
                            <td>
                                <h6>{{ product?.pivot?.subtotal | currencySymbol }}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-page-wrapper>
        <app-page-wrapper [gridClass]="'col-sm-12'" [title]="'order_details'" *ngIf="order?.sub_orders?.length">
            <div class="table-responsive">
                <table class="table all-package theme-table no-footer">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'order_number' | translate }}</th>
                            <th scope="col">{{ 'order_date' | translate }}</th>
                            <th scope="col">{{ 'total_amount' | translate }}</th>
                            <th scope="col">{{ 'status' | translate }}</th>
                            <th scope="col">{{ 'action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subOrder of order?.sub_orders">
                            <td>
                                <h6>{{ '#'+subOrder?.order_number }}</h6>
                            </td>
                            <td>
                                <h6>{{ subOrder?.created_at | date: 'dd MMM yyyy hh:mm:a' }}</h6>
                            </td>
                            <td>
                                <h6>{{ subOrder?.amount | currencySymbol }}</h6>
                            </td>
                            <td>
                                <h6>
                                    <div class="status-{{subOrder?.order_status.slug}}">
                                        <span>{{ subOrder?.order_status.name }}</span>
                                    </div>
                                </h6>
                            </td>
                            <td>
                                <a href="javascript:void(0)" [routerLink]="['/order/details', subOrder?.order_number]">
                                    <i [class]="'ri-eye-line'"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-page-wrapper>
    </div>
    <div class="col-xxl-3">
        <div class="sticky-top-sec">
            <app-page-wrapper [gridClass]="'col-sm-12'" [title]="'summary'">
                <div button *ngIf="order?.invoice_url">
                    <a href="{{order?.invoice_url}}" class="btn btn-animation btn-sm ms-auto"
                        download="download">{{ 'invoice' | translate }} <i class="ri-download-2-fill"></i></a>
                </div>
                <div class="tracking-total tracking-wrapper">
                    <ul>
                        <li>{{ 'subtotal' | translate }} <span>{{ (order?.amount ? order?.amount : 0) | currencySymbol }}</span></li>
                        <li>{{ 'shipping' | translate }} <span>{{ (order?.shipping_total ? order?.shipping_total : 0) | currencySymbol
                                }}</span></li>
                        <li>{{ 'tax' | translate }} <span>{{ (order?.tax_total ? order?.tax_total : 0) | currencySymbol }}</span></li>
                        <li class="txt-primary fw-bold" *ngIf="order?.points_amount != 0">{{ 'points' | translate }} <span>{{
                                order?.points_amount | currencySymbol }}</span></li>
                        <li class="txt-primary fw-bold" *ngIf="order?.wallet_balance != 0">{{ 'wallet_balance' | translate }} <span>{{
                                order?.wallet_balance | currencySymbol }}</span></li>
                        <li>{{ 'total' | translate }} <span>{{ (order?.total ? order?.total : 0) | currencySymbol }}</span></li>
                    </ul>
                </div>
            </app-page-wrapper>
            <app-page-wrapper [gridClass]="'col-sm-12'" [title]="'consumer_details'">
                <div class="customer-detail tracking-wrapper">
                    <ul>
                        <li>
                            <label>{{ 'name' | translate }}:</label>
                            <h4>{{ order?.consumer?.name }}</h4>
                        </li>
                        <li>
                            <label>{{ 'email_address' | translate }}:</label>
                            <h4>{{ order?.consumer?.email }}</h4>
                        </li>
                        <li>
                            <label>{{'billing_address' | translate }}:</label>
                            <h4>
                                {{ order?.billing_address?.street }}
                                {{ order?.billing_address?.city }} {{ order?.billing_address?.state?.name }} {{
                                order?.billing_address?.country?.name }}
                                {{ order?.billing_address?.pincode }} <br>
                                {{ 'phone' | translate }} : +{{ order?.shipping_address?.country_code }} {{ order?.billing_address?.phone }}
                            </h4>
                        </li>
                        <li>
                            <label>{{ 'shipping_address' | translate }}:</label>
                            <h4>
                                {{ order?.shipping_address?.street }}
                                {{ order?.shipping_address?.city }} {{ order?.shipping_address?.state?.name }} {{
                                order?.shipping_address?.country?.name }}
                                {{ order?.shipping_address?.pincode }} <br>
                                {{ 'phone' | translate }} : +{{ order?.shipping_address?.country_code }} {{ order?.shipping_address?.phone
                                }}
                            </h4>
                        </li>
                        <li>
                            <label>{{ 'delivery_slot' | translate }}:</label>
                            <h4>{{ order?.delivery_description }}</h4>
                        </li>
                        <li>
                            <label>{{ 'payment_mode' | translate }}:</label>
                            <h4>{{ order?.payment_method | uppercase }}</h4>
                        </li>
                    </ul>
                </div>
            </app-page-wrapper>
        </div>
    </div>
</div>