<div class="product-box">
    <div class="product-image">
        <img [src]="product?.product_thumbnail 
                ? product?.product_thumbnail?.original_url 
                : 'assets/images/product.png'" class="img-fluid blur-up lazyload" alt="product">
    </div>
    <div class="product-detail">
        <h6 class="name name-2 h-100">{{product?.name}}</h6>
        <h6 class="sold weight text-content fw-normal text-capitalize">
            <span *ngIf="product?.unit">{{ product?.unit }}</span>
        </h6>
        <div class="counter-box">
            <h6 class="sold theme-color">{{product?.sale_price | currencySymbol}}</h6>
            <div class="addtocart_btn">
                <app-button [id]="product.type === 'classified'? '':'addcartbtn'+product?.id"
                [class]="'add-button addcart-button btn buy-button'" [iconClass]="'ri-add-line'"
                (click)="product.type === 'classified' ? addToCartModal.openModal(product) : addToCart(product, 1)"
                *ngIf="product.stock_status == 'in_stock' else outStock">
                    {{ 'add' | translate }}
                </app-button>
                <ng-template #outStock>
                    <app-button 
                        [class]="'add-button addcart-button btn buy-button disabled'" 
                        [disabled]="true">
                        {{ 'out_of_stock' | translate }}
                    </app-button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<app-addtocart #addToCartModal></app-addtocart>