<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'tags'">
    <div button *hasPermission="'tag.create'">
        <a [routerLink]="[tagType == 'post' ? '/blog/tag/create' :'/tag/create']" 
            class="align-items-center btn btn-theme d-flex">
            <i class="ri-add-line"></i> {{ 'add_tag' | translate }}
        </a>
    </div>
    <app-table 
        [tableConfig]="tableConfig"
        [hasCheckbox]="true"
        (tableChanged)="onTableChange($event)"
        (rowClicked)="edit($event)"
        (action)="onActionClicked($event)">
    </app-table>
</app-page-wrapper>