<app-collection-sort [filter]="filter" [gridCol]="gridCol" (setGridClass)="setGridClass($event)"></app-collection-sort>
  <div [class]="gridClass">
  <ng-container *ngIf="productService.skeletonLoader else productContent">
    <app-skeleton-product-box *ngFor="let item of skeletonItems"></app-skeleton-product-box>
  </ng-container>
  <ng-template #productContent>
    <ng-container *ngFor="let product of (product$ | async)?.data">
        <app-product-box [product]="product" [class]="'product-box-3'" [style]="'horizontal'"></app-product-box>
    </ng-container>
  </ng-template>
</div>
<app-no-data
  [class]="'no-data-added collection-no-data'"
  [image]="'assets/svg/no-product.svg'"
  [text]="'Sorry! Couldn\'t find the products you were looking For!'"
  [description]="'Please check if you have misspelt something or try searching with other way.'"
  *ngIf="!(product$ | async)?.data?.length && !productService.skeletonLoader">
</app-no-data>
<app-collection-paginate
  [filter]="filter"
  *ngIf="(product$ | async)?.data?.length && !productService.skeletonLoader">
</app-collection-paginate>
