<form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="vertical-tabs">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="general" id="general" [class.is-invalid]="tabError == 'general'">
                        <a ngbNavLink><i class="ri-settings-line"></i>{{ 'general' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="general">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'name'" [for]="'name'" [required]="true">
                                    <input class="form-control" id="name" type="text" placeholder="{{ 'enter_product_name' | translate }}" formControlName="name">
                                    <div class="invalid-feedback" *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']">
                                        {{ 'name_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'short_description'" [for]="'short_description'" [required]="true">
                                    <textarea class="form-control" id="sort_description" placeholder="{{ 'enter_short_description' | translate }}" rows="3" formControlName="short_description"></textarea>
                                    <p class="help-text">{{ '*Maximum length should be 300 characters.' }}</p>                         
                                    <div class="invalid-feedback" *ngIf="form.controls['short_description'].touched && form.controls['short_description'].errors?.['required']">
                                        {{ 'short_description_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'description'" [for]="'description'" [required]="true">
                                    <ckeditor [editor]="editor" [config]="config" formControlName="description" [id]="'description'"></ckeditor>
                                    <div class="invalid-feedback" *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']">
                                        {{ 'description_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="inventory" id="inventory" [class.is-invalid]="tabError == 'inventory'">
                        <a ngbNavLink><i class="ri-file-list-line"></i>{{ 'inventory' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="inventory">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'type'" [for]="'type'" [required]="true">
                                    <select2 
                                        class="custom-select" 
                                        [placeholder]="'select_type' | translate "
                                        [data]="productType?.length ? productType : []" 
                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                        formControlName="type">
                                    </select2>
                                    <div class="invalid-feedback" *ngIf="form.controls['type'].touched && form.controls['type'].errors?.['required']">
                                        {{ 'type_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'unit'" [for]="'unit'" [required]="false">
                                    <input class="form-control" id="unit" type="text" placeholder="{{ 'enter_unit' | translate }}" formControlName="unit">
                                    <p class="help-text">{{ '*Specify the measurement unit, such as 10 Pieces, 1 KG, 1 Ltr, etc.' }}</p>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'weight'" [for]="'weight'" [required]="false">
                                    <input class="form-control" id="weight" type="number" placeholder="Enter weight Gms (e.g 100)" formControlName="weight">
                                    <p class="help-text">{{ '*Specify the weight of this product in Gms.' }}</p>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'stock_status'" [for]="'stock_status'" [required]="true" *ngIf="form.controls['type'].value == 'simple'">
                                    <select2 
                                        class="custom-select" 
                                        [placeholder]="'select_stock_status' | translate"
                                        [data]="stocks?.length ? stocks : []" 
                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                        formControlName="stock_status">
                                    </select2>
                                    <div class="invalid-feedback" *ngIf="form?.controls['stock_status']?.touched && form?.controls['stock_status']?.errors?.['required']">
                                        {{ 'stock_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'sku'" [for]="'sku'" [required]="true">
                                    <input class="form-control" id="sku" type="text" placeholder="{{ 'enter_sku' | translate }}" formControlName="sku">
                                    <div class="invalid-feedback" *ngIf="form.controls['sku'].touched && form.controls['sku'].errors?.['required']">
                                        {{ 'sku_is_required' | translate}}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'stock_quantity'" [for]="'quantity'" [required]="true" *ngIf="form.controls['type'].value == 'simple'">
                                    <input class="form-control" id="quantity" type="number" placeholder="{{ 'enter_quantity' | translate }}" formControlName="quantity">
                                    <div class="invalid-feedback" *ngIf="form.controls['quantity'].touched && form.controls['quantity'].errors?.['required']">
                                        {{ 'quantity_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'price'" [for]="'price'" [required]="true" *ngIf="form.controls['type'].value == 'simple'">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            {{(setting$ | async)?.general?.default_currency.symbol ? (setting$ | async)?.general?.default_currency.symbol : '$'}}
                                        </span>
                                        <input class="form-control" id="price" type="number" placeholder="{{ 'enter_price' | translate }}" formControlName="price">
                                    </div>
                                    <div class="invalid-feedback" *ngIf="form.controls['price'].touched && form.controls['price'].errors?.['required']">
                                        {{ 'price_is_required' | translate }}
                                    </div>
                                    <div class="invalid-feedback" *ngIf="form.controls['price'].touched && form.controls['price'].errors?.['invalidPrice']">
                                        {{ 'please_enter_a_valid_price' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'discount'" [for]="'discount_value'" [required]="false" *ngIf="form.controls['type'].value == 'simple'">
                                    <div class="input-group">
                                        <input class="form-control" id="discount_value" type="number" min="0" max="100" oninput="if (value > 100) value = 100; if (value < 0) value = 0;" placeholder="{{ 'enter_discount' | translate }}" formControlName="discount">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'sale_price'" [for]="'sale_price'" [required]="false" *ngIf="form.controls['type'].value == 'simple'">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            {{(setting$ | async)?.general?.default_currency.symbol ? (setting$ | async)?.general?.default_currency.symbol : '$'}}
                                        </span>
                                        <input class="form-control disabled" id="sale_price" type="number" placeholder="sale price"
                                            value="{{ (form.get('price')?.value - (form.get('price')?.value * form.get('discount')?.value)/100).toFixed(2)}}"
                                            readonly>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'sale_status'" [for]="'is_sale_enable'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="is_sale_enable" formControlName="is_sale_enable">
                                            <span class="switch-state"></span>
                                        </label>
                                    </div>
                                </app-form-fields>
                                <div>
                                    <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'Sale Start Date'" [for]="'sale_starts_at'" [required]="false">
                                        <div class="dp-hidden position-absolute custom-dp-dropdown">
                                            <div class="input-group">
                                                <input name="datepicker" class="form-control" ngbDatepicker
                                                    #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                                    (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                                    [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!"
                                                    tabindex="-1" readonly/>
                                                <ng-template #t let-date let-focused="focused">
                                                    <span class="custom-day" [class.focused]="focused"
                                                        [class.range]="isRange(date)"
                                                        [class.faded]="isHovered(date) || isInside(date)"
                                                        (mouseenter)="hoveredDate = date"
                                                        (mouseleave)="hoveredDate = null">
                                                        {{ date.day }}
                                                    </span>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="input-group custom-dt-picker">
                                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd"
                                                name="dpFromDate" [value]="formatter.format(fromDate)"
                                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)" readonly/>
                                            <button class="btn btn-outline-secondary " (click)="datepicker.toggle()"
                                                type="button">
                                                <i class="ri-calendar-line"></i>
                                            </button>
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="form?.controls['sale_starts_at']?.touched && form?.controls['sale_starts_at']?.errors?.['required']">
                                            {{ 'start_date_is_required' | translate }}
                                        </div>
                                    </app-form-fields>
                                    <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'Sale End Date'" [for]="'sale_expired_at'" [required]="false">
                                        <div class="input-group custom-dt-picker">
                                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd"
                                                name="dpToDate" [value]="formatter.format(toDate)"
                                                (input)="toDate = validateInput(toDate, dpToDate.value)" readonly/>
                                            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                                                <i class="ri-calendar-line"></i>
                                            </button>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="form?.controls['sale_expired_at']?.touched && form?.controls['sale_expired_at']?.errors?.['required']">
                                            {{ 'end_date_is_required' | translate }}
                                        </div>
                                    </app-form-fields>
                                </div>
                                <div class="variant-box border-top" *ngIf="form.controls['type'].value == 'classified'">
                                    <ng-container formArrayName='variants'>
                                        <div class="row" *ngFor="let variant of variantControl.controls; let index = index" formGroupName='{{ index }}'>
                                            <div class="col-sm-5 variant-row">
                                                <app-form-fields [label]="'attribute'" [for]="'attribute'+index">
                                                    <select2 
                                                        class="custom-select d-block"
                                                        [data]="(attribute$ | async)?.length ? (attribute$ | async) : []"
                                                        [placeholder]="'select_attribute' | translate "
                                                        (update)="updateAttribute($event, index)" formControlName="id"
                                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                                        resettable>
                                                    </select2>
                                                </app-form-fields>
                                            </div>
                                            <div class="col-sm-5 variant-row">
                                                <app-form-fields [label]="'value'" [for]="'value'+index">
                                                    <select2 
                                                        class="custom-select d-block"
                                                        [data]="variant.get('variant_option').value?.length ? variant.get('variant_option').value : []"
                                                        [placeholder]="'select_value' | translate "
                                                        formControlName="attribute_values"
                                                        (update)="updateAttributeValue($event, index)"
                                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                                        [multiple]="true">
                                                    </select2>
                                                </app-form-fields>
                                            </div>
                                            <div class="col-sm-2 delete-variant">
                                                <a href="javascript:void(0)" class="invalid-feedback" (click)="removeVariant(index)">
                                                    {{ 'remove' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <app-button 
                                        [class]="'btn btn-theme mb-4'" 
                                        [id]="'add_variant'" 
                                        [spinner]="false"
                                        (click)="addVariant($event)"
                                        *ngIf="(attribute$ | async)?.length">
                                        {{ 'add_variant' | translate }}
                                    </app-button>
                                    <div class="shipping-accordion variant-accordion" *ngIf="variationControl?.controls?.length">
                                        <h3 class="form-label-title mb-2">{{ 'variants' | translate }}</h3>
                                        <ng-container formArrayName='variations'>
                                            <div ngbAccordion>
                                                <div ngbAccordionItem [collapsed]="false" *ngFor="let variation of variationControl?.controls; let i = index" formGroupName='{{ i }}'>
                                                    <div ngbAccordionHeader>
                                                        <button ngbAccordionButton>{{ variation.get('variation_name').value }}</button>
                                                    </div>
                                                    <div ngbAccordionCollapse>
                                                        <div ngbAccordionBody>
                                                            <ng-template>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'name' | translate" [for]="'variation_name'+i" [required]="true">
                                                                    <input class="form-control" [id]="'variation_name'+i" type="text" placeholder="Enter Name" formControlName="name">
                                                                    <div class="invalid-feedback" *ngIf="variation.get('name').touched && variation.get('name').errors?.['required']">
                                                                        {{ 'name_is_required' | translate }}
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'Price'" [for]="'price'+i" [required]="true">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text">
                                                                            {{(setting$ | async)?.general?.default_currency.symbol ? (setting$ | async)?.general?.default_currency.symbol : '$'}}
                                                                        </span>
                                                                        <input class="form-control" [id]="'price'+i" type="number" placeholder="Enter Price" formControlName="price">
                                                                    </div>
                                                                    <div class="invalid-feedback" *ngIf="variation.get('price').touched && variation.get('price').errors?.['required']">
                                                                        {{ 'price_is_required' | translate }}
                                                                    </div>
                                                                    <div class="invalid-feedback" *ngIf="variation.get('price').touched && variation.get('price')?.errors?.['invalidPrice']">
                                                                        {{ 'please_enter_a_valid_price' | translate }}
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'discount' | translate " [for]="'discount_value'+i" [required]="false">
                                                                    <div class="input-group">
                                                                        <input class="form-control" [id]="'discount_value'+i" type="number" min=0 max=100
                                                                            oninput="if (value > 100) value = 100; if (value < 0) value = 0;"
                                                                            placeholder="{{'enter_discount' | translate }}"
                                                                            formControlName="discount">
                                                                        <span class="input-group-text">%</span>
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'sale_price'" [for]="'sale_price'+i" [required]="false">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text">
                                                                            {{(setting$ | async)?.general?.default_currency.symbol ? (setting$ | async )?.general?.default_currency.symbol : '$'}}
                                                                        </span>
                                                                        <input class="form-control" [id]="'sale_price'+i" type="number" placeholder="Enter sale price"
                                                                            value="{{ (variation.get('price')?.value - (variation.get('price')?.value * variation.get('discount')?.value)/100).toFixed(2)}}"
                                                                            readonly>
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'stock_quantity' | translate" [for]="'quantity'+i" [required]="true">
                                                                    <input class="form-control" [id]="'quantity'+i" type="number" placeholder="Enter Quantity" formControlName="quantity">
                                                                    <div class="invalid-feedback" *ngIf="variation.get('quantity').touched && variation.get('quantity').errors?.['required']">
                                                                        {{ 'quantity_is_required' | translate }}
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'sku'" [for]="'sku'+i" [required]="true">
                                                                    <input class="form-control" [id]="'sku'+i" type="text" placeholder="Enter SKU" formControlName="sku">
                                                                    <div class="invalid-feedback" *ngIf="variation.get('sku').touched && variation.get('sku').errors?.['required']">
                                                                        {{ 'sku_is_required' | translate }}
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'stock_status'" [for]="'stock_status'+i" [required]="true">
                                                                    <select2 
                                                                        class="custom-select" [placeholder]="'select_stock_status' | translate"
                                                                        [data]="stocks?.length ? stocks : []"
                                                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                                                        formControlName="stock_status">
                                                                    </select2>
                                                                    <div class="invalid-feedback" *ngIf="variation.get('stock_status').touched && variation.get('stock_status').errors?.['required']">
                                                                        {{ 'stock_is_required' | translate }}
                                                                    </div>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'image'" [for]="'variation_image_id'+i" [required]="false">
                                                                    <app-image-upload 
                                                                        [multipleImage]="false"
                                                                        [image]="variation.get('variation_image').value"
                                                                        (selectedFiles)="selectVariationImage($event, i)">
                                                                    </app-image-upload>
                                                                </app-form-fields>
                                                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'status'" [for]="'active_variation_status'+i">
                                                                    <div class="form-check form-switch ps-0">
                                                                        <label class="switch">
                                                                            <input type="checkbox" [id]="'active_variation_status'+i" formControlName="status">
                                                                            <span class="switch-state"></span>
                                                                        </label>
                                                                    </div>
                                                                </app-form-fields>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                              
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="setup" id="setup" [class.is-invalid]="tabError == 'setup'">
                        <a ngbNavLink><i class="ri-tools-line"></i>{{ 'setup' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="setup">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'tags'" [for]="'tags'" [required]="false">
                                    <app-advanced-dropdown 
                                        [position]="'bottom'" 
                                        [selectedOption]="selectedTags"
                                        [options]="(tag$ | async )?.data?.length ? (tag$ | async )?.data : []"
                                        (selectedItem)="selectTagItem($event)">
                                    </app-advanced-dropdown>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'categories'" [for]="'categories'" [required]="true">
                                    <app-advanced-dropdown 
                                        [position]="'bottom'" [selectedOption]="selectedCategories"
                                        [options]="(category$ | async)?.data?.length ? (category$ | async )?.data : []"
                                        [subArrayKey]="'subcategories'" 
                                        [id]="'categories'"
                                        (selectedItem)="selectCategoryItem($event)">
                                    </app-advanced-dropdown>
                                    <div class="invalid-feedback" *ngIf="form.controls['categories'].touched && form.controls['categories'].errors?.['required']">
                                        {{ 'categories_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'random_related_product'" [for]="'is_random_related_products'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="is_random_related_products" formControlName="is_random_related_products">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Enabling this option allows the backend to randomly select 6 products for display.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" *ngIf="!form.get('is_random_related_products')?.value" [label]="'related_products' | translate" [for]="'related_product_id'" [required]="false">
                                    <select2 
                                        class="custom-select"
                                        [templates]="template" 
                                        [data]="(products$ | async)?.length ? (products$ | async) : []"
                                        [placeholder]="'select_product' | translate" formControlName="related_products"
                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                        [customSearchEnabled]="true"
                                        (close)="productDropdown($event)"
                                        (search)="searchProduct($event)"
                                        [multiple]="true">
                                        <ng-template #template let-data="data">
                                            <div class="image">
                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                            </div>
                                            {{ data.name }}
                                        </ng-template>
                                    </select2>
                                    <p class="help-text">{{ '*Choose a maximum of 6 products for effective related products display.' }}</p>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'cross_sell_products'" [for]="'cross_sell_products'" [required]="false">
                                    <select2 
                                        class="custom-select"
                                        [templates]="template" 
                                        [data]="collectionProduct?.length ? collectionProduct : []"
                                        [placeholder]="'select_product' | translate"
                                        formControlName="cross_sell_products"
                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                        [customSearchEnabled]="true"
                                        (close)="productDropdown($event)"
                                        (search)="searchProduct($event)"
                                        [multiple]="true">
                                        <ng-template #template let-data="data">
                                            <div class="image">
                                               <img [src]="data.image" [class]="'img-fluid selection-image'">
                                            </div>
                                            {{ data.name }}
                                         </ng-template>
                                    </select2>
                                    <p class="help-text">{{ '*Choose a maximum of 3 products for effective cross-selling display.' }}</p>

                                </app-form-fields>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="images" id="images" [class.is-invalid]="tabError == 'images'">
                        <a ngbNavLink><i class="ri-image-line"></i>{{ 'images' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="images">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'thumbnail'" [for]="'product_thumbnail_id'" [required]="false">
                                    <app-image-upload 
                                        [multipleImage]="false"
                                        [image]="(product$ | async)?.product_thumbnail"
                                        [helpText]="'*Upload image size 600x600px recommended'"
                                        (selectedFiles)="selectThumbnail($event)">
                                    </app-image-upload>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'images'" [for]="'product_galleries_id'" [required]="false">
                                    <app-image-upload 
                                        [multipleImage]="true"
                                        [images]="(product$ | async)?.product_galleries"
                                        [helpText]="'*Upload image size 600x600px recommended'"
                                        (selectedFiles)="selectImages($event)">
                                    </app-image-upload>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'Size Chart'" [for]="'size_chart_image_id'" [required]="false">
                                    <app-image-upload 
                                        [multipleImage]="false"
                                        [image]="(product$ | async)?.size_chart_image"
                                        [helpText]="'*Upload an image showcasing the size chart tailored for fashion products. A table format image is suggested for easy reference.'"
                                        (selectedFiles)="selectSizeImage($event)">
                                    </app-image-upload>
                                </app-form-fields>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="seo" id="seo" [class.is-invalid]="tabError == 'seo'">
                        <a ngbNavLink><i class="ri-earth-line"></i>{{ 'seo' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="seo">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'meta_title'" [for]="'meta_title'" [required]="false">
                                    <input class="form-control" id="meta_title" type="text" placeholder="{{'enter_meta_title' | translate }}" formControlName="meta_title">
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'meta_description'" [for]="'meta_desc'" [required]="false">
                                    <textarea class="form-control" id="meta_desc" placeholder="{{ 'enter_meta_description' | translate }}" rows="3" formControlName="meta_description"></textarea>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'meta_image'" [for]="'meta_image'" [required]="false">
                                    <app-image-upload 
                                        [multipleImage]="false"
                                        [image]="(product$ | async)?.product_meta_image"
                                        (selectedFiles)="selectMetaImage($event)">
                                    </app-image-upload>
                                </app-form-fields>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="shipping" id="shipping" [class.is-invalid]="tabError == 'shipping'">
                        <a ngbNavLink><i class="ri-truck-line"></i>{{ 'shipping_&_tax' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="shipping">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'free_shipping'" [for]="'free_shipping'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="free_shipping" formControlName="is_free_shipping">
                                            <span class="switch-state"></span>
                                        </label>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'tax'" [for]="'tax'" [required]="true">
                                    <select2 
                                        class="custom-select" 
                                        [placeholder]="'select_tax' | translate "
                                        [data]="(tax$ | async)?.length ? (tax$ | async) : []" 
                                        formControlName="tax_id"
                                        [id]="'tax_id'"
                                        noResultMessage="{{ 'no_data_found' | translate }}"
                                        resettable>
                                    </select2>
                                    <div class="invalid-feedback" *ngIf="form.controls['tax_id'].touched && form.controls['tax_id'].errors?.['required']">
                                        {{ 'tax_is_required' | translate }}
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'estimated_delivery_text'" [for]="'estimated_delivery_text'" [required]="false">
                                    <input class="form-control" id="estimated_delivery_text" type="text" placeholder="{{'enter_estimated_delivery_text' | translate }}" formControlName="estimated_delivery_text">
                                    <p class="help-text">{{ '*Specify delivery text e.g Your order is likely to reach you within 5 to 10 days.' }}</p>                         
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'return_policy_text'" [for]="'return_policy_text'" [required]="false">
                                    <input class="form-control" id="return_policy_text" type="text" placeholder="{{'enter_return_policy_text' | translate }}" formControlName="return_policy_text">
                                    <p class="help-text">{{ '*Specify return text e.g Hassle free 7, 15 and 30 days return might be available.' }}</p>                         
                                </app-form-fields>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="status" id="status" [class.is-invalid]="tabError == 'status'">
                        <a ngbNavLink><i class="ri-checkbox-circle-line"></i>{{ 'status' | translate }}</a>
                        <ng-template ngbNavContent>
                            <div class="tab" tab="status">
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'featured'" [for]="'product_featured'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="product_featured" formControlName="is_featured">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Enabling this option will display a Featured tag on the product.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'safe_checkout'" [for]="'safe_checkout'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="safe_checkout" formControlName="safe_checkout">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*A safe checkout image will appear on the product page. Modify the image in the theme options.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'secure_checkout'" [for]="'secure_checkout'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="secure_checkout" formControlName="secure_checkout">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*A secure checkout image will appear on the product page. Modify the image in the theme options.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'social_share'" [for]="'social_share'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="social_share" formControlName="social_share">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Enable this option to allow users to share the product on social media platforms.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'encourage_order'" [for]="'encourage_order'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="encourage_order" formControlName="encourage_order">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*A random order count between 1 and 100 will be displayed to motivate user purchases.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'encourage_view'" [for]="'encourage_view'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="encourage_view" formControlName="encourage_view">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*this feature encourages users to view products by presenting engaging content or prompts.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'trending'" [for]="'is_trending'"
                                    [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="is_trending" formControlName="is_trending">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Enabling this will showcase the product in the sidebar of the product page as a trending item.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'return'" [for]="'return'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="return" formControlName="is_return">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Enable to make the product eligible for returns.' }}</p>
                                    </div>
                                </app-form-fields>
                                <app-form-fields [labelClass]="'form-label-title col-sm-3 mb-0'" [gridClass]="'col-sm-9'" [label]="'status'" [for]="'status'" [required]="false">
                                    <div class="form-check form-switch ps-0">
                                        <label class="switch">
                                            <input type="checkbox" id="status" formControlName="status">
                                            <span class="switch-state"></span>
                                        </label>
                                        <p class="help-text">{{ '*Toggle between Enabled and Disabled to control the availability of the product for purchase.' }}</p>

                                    </div>
                                </app-form-fields>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
        <app-button [id]="'product_btn'">
            {{ (type == 'create' ? 'save_product' : 'update_product') | translate }}
        </app-button>
    </div>
</form>